<div class="detail-footer">
    <div class="left-area">
        <div class="logo">
            <picture>
                <source srcset="/images/logo-detail-footer@2x.png 2x">
                <img src="/images/logo-detail-footer.png" alt="foodie">
            </picture>
        </div>
        <p>Copyright ®네오비즈 All Rights Reserved.</p>
    </div>

    <ul>
        <li><a href="/policy">개인정보 취급 방침</a></li>
        <li><a href="#">1:1 메일상담</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/auth/join">회원가입</a></li>
        <li><a href="#">MY푸디 ® 네오비즈</a></li>
    </ul>
</div>