<div class="detail-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="left-area">
        <div class="logo">
            <picture>
                <source srcset="/images/logo-detail-footer@2x.png 2x">
                <img src="/images/logo-detail-footer.png" alt="foodie">
            </picture>
        </div>
        <p>Copyright ®네오비즈 All Rights Reserved.</p>
    </div>

    <ul>
        <li><a href="/policy">개인정보 취급 방침</a></li>
        <li><a href="#">1:1 메일상담</a></li>
        <li><a th:text="${authenticated == '0'?'로그인':'마이페이지'}"
               th:href="${authenticated == '0'?'/auth/login':'/user/info'}"></a></li>
        <li><a th:text="${authenticated == '0'?'회원가입':'로그아웃'}"
               th:href="${authenticated == '0'?'/auth/join/user/1':'/logout'}"></a></li>
        <li><a href="#">MY푸디 ® 네오비즈</a></li>
    </ul>
</div>