<header id="header" xmlns:th="http://www.thymeleaf.org" th:fragment="type(type,height)" th:class="${type}">
    <div class="inner-wrapper">
        <a href="#" id="mainCategory" class="btn-category"><span>카테고리</span></a>

        <div style="width: 196px; margin: 0 auto;">
            <a href="/"><h1 th:style="${height}"></h1></a>
        </div>

        <ul class="util-menu">
            <li class="search">
                <a href="#"><span>검색</span></a>
                <div class="search-form">
                    <form method="post" action="#">
                        <input type="text" placeholder="맛집 키워드를 검색해 보세요."/>
                    </form>
                </div>
            </li>
            <li class="login">

                <a href="#" th:style="${type} == 'header-red'?
                'background-image:url(' + ${iconNormal} + ');':
                'background-image:url(' + ${iconRed} + ');'"><span>로그인/회원가입</span></a>
                <ul class="login-menu-layer">
                    <li>
                        <a th:text="${authenticated} == '0'? '로그인':'마이페이지'"
                           th:href="${authenticated} == '0'? '/auth/login':'/user/info'"></a>
                    </li>
                    <li>
                        <a th:text="${authenticated} == '0'? '회원가입':'로그아웃'"
                           th:href="${authenticated} == '0'? '/auth/join/user/1':'/logout'"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Global Navigation -->
    <div class="global-nav">
        <div class="inner">
            <ul class="side-menu">
                <!--  class="active"-->
                <li id="region1"><a>지역별</a></li>
                <li id="region2"><a>역세권</a></li>
                <li id="region3"><a>맛집촌</a></li>
                <li id="region4"><a href="#">위치기반</a></li>
            </ul>
            <div id="regionContent1" class="gnb-contents">
                <ul class="top-menu">
                    <li onclick="changeRegionCategory1('서울', 'regionDetailContent1', '1'); return false;"><a href="#">서울</a></li>
                    <li onclick="changeRegionCategory1('경기', 'regionDetailContent1', '1'); return false;"><a href="#">경기</a></li>
                    <li onclick="changeRegionCategory1('인천', 'regionDetailContent1', '1'); return false;" ><a href="#">인천</a></li>
                    <li onclick="changeRegionCategory1('대전', 'regionDetailContent1', '1'); return false;"><a href="#">대전</a></li>
                    <li onclick="changeRegionCategory1('광주', 'regionDetailContent1', '1'); return false;"><a href="#">광주</a></li>
                    <li onclick="changeRegionCategory1('대구', 'regionDetailContent1', '1'); return false;"><a href="#">대구</a></li>
                    <li onclick="changeRegionCategory1('울산', 'regionDetailContent1', '1'); return false;"><a href="#">울산</a></li>
                    <li onclick="changeRegionCategory1('부산', 'regionDetailContent1', '1'); return false;"><a href="#">부산</a></li>
                    <li onclick="changeRegionCategory1('강원', 'regionDetailContent1', '1'); return false;"><a href="#">강원</a></li>
                    <li onclick="changeRegionCategory1('충청북도', 'regionDetailContent1', '1'); return false;"><a href="#">충북</a></li>
                    <li onclick="changeRegionCategory1('충청남도', 'regionDetailContent1', '1'); return false;"><a href="#">충남</a></li>
                    <li onclick="changeRegionCategory1('전라북도', 'regionDetailContent1', '1'); return false;"><a href="#">전북</a></li>
                    <li onclick="changeRegionCategory1('전라남도', 'regionDetailContent1', '1'); return false;"><a href="#">전남</a></li>
                    <li onclick="changeRegionCategory1('경상북도', 'regionDetailContent1', '1'); return false;"><a href="#">경북</a></li>
                    <li onclick="changeRegionCategory1('경상남도', 'regionDetailContent1', '1'); return false;"><a href="#">경남</a></li>
                    <li onclick="changeRegionCategory1('제주', 'regionDetailContent1', '1'); return false;"><a href="#">제주</a></li>
                    <li onclick="changeRegionCategory1('세종', 'regionDetailContent1', '1'); return false;"><a href="#">세종</a></li>
                </ul>
                <div id="regionDetailContent1" style="overflow-x: hidden;overflow-y:auto; height: 240px;">
                    <!--                <ul >-->
                    <!-- <li><a href="#">강남구<span>(376)</span></a></li>
                     <li><a href="#">강동구<span>(36)</span></a></li>
                     <li><a href="#">강북구<span>(136)</span></a></li>
                     <li><a href="#">강서구<span>(83)</span></a></li>
                     <li><a href="#">관악구<span>(79)</span></a></li>
                     <li><a href="#">광진구<span>(102)</span></a></li>
                     <li><a href="#">구로구<span>(4)</span></a></li>
                     <li><a href="#">금천구<span>(11)</span></a></li>
                     <li><a href="#">노원구<span>(59)</span></a></li>
                     <li><a href="#">도봉구<span>(20)</span></a></li>
                     <li><a href="#">강남구<span>(376)</span></a></li>
                     <li><a href="#">강동구<span>(36)</span></a></li>
                     <li><a href="#">강북구<span>(136)</span></a></li>
                     <li><a href="#">강서구<span>(83)</span></a></li>
                     <li><a href="#">관악구<span>(79)</span></a></li>
                     <li><a href="#">광진구<span>(102)</span></a></li>
                     <li><a href="#">구로구<span>(4)</span></a></li>
                     <li><a href="#">금천구<span>(11)</span></a></li>
                     <li><a href="#">노원구<span>(59)</span></a></li>
                     <li><a href="#">도봉구<span>(20)</span></a></li>-->
                    <!--                </ul>-->
                </div>
            </div>

            <div id="regionContent2" class="gnb-contents">
                <ul class="top-menu">
                    <li id="sudoMain" class="active"><a href="#">수도권</a></li>
                    <li id="inCheonMain" ><a href="#">인천</a></li>
                    <li id="busanMain" ><a href="#">부산</a></li>
                    <li id="daeguMain" ><a href="#">대구</a></li>
                    <li id="gjuMain" ><a href="#">광주</a></li>
                    <li id="daejunMain" ><a href="#">대전</a></li>
                </ul>
                <ul id="sudo" class="top-menu">
                    <li onclick="changeRegionCategory1('1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" id="default-station">1호선</a></li>
                    <li onclick="changeRegionCategory1('2호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >2호선</a></li>
                    <li onclick="changeRegionCategory1('3호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >3호선</a></li>
                    <li onclick="changeRegionCategory1('4호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >4호선</a></li>
                    <li onclick="changeRegionCategory1('5호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >5호선</a></li>
                    <li onclick="changeRegionCategory1('6호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >6호선</a></li>
                    <li onclick="changeRegionCategory1('7호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >7호선</a></li>
                    <li onclick="changeRegionCategory1('8호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >8호선</a></li>
                    <li onclick="changeRegionCategory1('9호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >9호선</a></li>
                    <li onclick="changeRegionCategory1('분당선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >분당선</a></li>
                    <li onclick="changeRegionCategory1('중앙성', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >중앙선</a></li>
                    <li onclick="changeRegionCategory1('공항선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >공항선</a></li>
                    <li onclick="changeRegionCategory1('경의선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >경의선</a></li>
                </ul>
                <ul id="incheon" class="top-menu">
                    <li onclick="changeRegionCategory1('인천 1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >1호선</a></li>
                    <li onclick="changeRegionCategory1('인천 2호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >2호선</a></li>
                </ul>
                <ul id="busan" class="top-menu">
                    <li onclick="changeRegionCategory1('부산 1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >1호선</a></li>
                    <li onclick="changeRegionCategory1('부산 2호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >2호선</a></li>
                    <li onclick="changeRegionCategory1('부산 3호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >3호선</a></li>
                </ul>
                <ul id="daegu" class="top-menu">
                    <li onclick="changeRegionCategory1('대구 1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >1호선</a></li>
                    <li onclick="changeRegionCategory1('대구 2호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >2호선</a></li>
                </ul>
                <ul id="gju" class="top-menu">
                    <li onclick="changeRegionCategory1('광주 1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >1호선</a></li>
                </ul>
                <ul id="daejun" class="top-menu">
                    <li onclick="changeRegionCategory1('대전 1호선', 'regionDetailContent2', '2');  return false;"><a href="#" class="type2" >1호선</a></li>
                </ul>
                <ul class="item-list-wrapper" id="regionDetailContent2" style="padding: 3px 0 0 0px;overflow: scroll;height: 186px;">
                </ul>
            </div>

            <div id="regionContent3"  class="gnb-contents">
                <ul class="item-list-wrapper" id="regionDetailContent3" style="padding: 3px 0 0 0px;">

                </ul>
            </div>
        </div>
    </div>
    <style>
        #regionDetailContent2 > ul > li {
            margin-bottom: 15px !important;
            width: 160px;
        }
    </style>
    <!-- Global Navigation END -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script th:inline="javascript">
        function changeRegionCategory1(region_name, className, type){

            document.getElementById(className).innerHTML = ""

            if(type == 1) {
                $(".top-menu > li").removeClass('active');
                event.target.parentElement.classList.add('active')
            }
            if(type == 2){
                $('#regionContent2 .top-menu:nth-of-type(n+2) li a').css('color', '#707070');
                $('#regionContent2 .top-menu:nth-of-type(n+2) li a').css('opacity', '0.7');
                $(event.target).css('color','#ff9d00');
                $(event.target).css('opacity','1.0');
                console.log('type2')
                console.log($(event.target.parentElement.parentElement).siblings("li").siblings("a.type"))
                // $("#"+$(event.target).closest('ul').id+" > li > a").css('color', '#707070');
                // $("#"+$(event.target).closest('ul').id+" > li > a").css('opacity', '0.7');
                // $($(event.target).closest('a')).css('color','#ff9d00');
                // $($(event.target).closest('a')).css('opacity','1.0');
            }

            $.ajax({
                url: "/category/region/" + type + "?name=" + encodeURI(region_name),
                contentType: "application/json",
                dataType: "json",
                type:"GET",
            }).done(function (fragment) {
                var ul = document.createElement('ul');
                ul.setAttribute('class','item-list-wrapper');
                document.getElementById(className).appendChild(ul);
                fragment.forEach(renderProductList);
                // class="active"
                function renderProductList(element, index, arr) {
                    var li = document.createElement('li');

                    ul.appendChild(li);

                    if(type=='2'){
                        if(element.subwayName != null){
                            li.innerHTML=li.innerHTML +"<a href='/shop/region/subway/" + element.regionId +"/red'>" +element.subwayName + "("+element.districtCnt + ")" + "</a>";
                        }
                    }else{
                        li.innerHTML=li.innerHTML +"<a href='/shop/region/" + element.regionId +"/red'>" +element.districtName + "("+element.districtCnt+")" + "</a>";
                    }
                }
            });
        }

        $(document).ready(function () {

            $("#mainCategory").click(function () {
                $("li[id*=region]").removeClass("active")
                $("#region1").addClass("active");
                $("#regionContent1").show();
                $("#regionContent2").hide();
                $("#regionContent3").hide();
                changeRegionCategory1("서울", 'regionDetailContent1', '1')
                $("#regionContent1 .top-menu li:eq(0)").addClass("active");
                return false;
            });

            $("#region1").click(function () {
                $(".top-menu > li").removeClass("active");
                $("li[id*=region]").removeClass("active")
                $("div[id*=regionContent]").hide()
                $("#region1").addClass("active");
                $("#regionContent1").show();
                changeRegionCategory1("서울", 'regionDetailContent1', '1')
                $("#regionContent1 .top-menu li:eq(0)").addClass("active");
                $(".global-nav").css({"height": "315px"});
                return false;
            });

            $("#region2").click(function () {
                $(".top-menu > li").removeClass("active");
                $("li[id*=region]").removeClass("active");
                $("div[id*=regionContent]").hide()

                $("#region2").addClass("active");
                $("#regionContent2").show();
                $("#sudo").show()
                $("#gju").hide()
                $("#daejun").hide()
                $("#daegu").hide()
                $("#busan").hide()
                $("#incheon").hide()

                initMenuForRegionContent2();

                $("#regionContent2 .top-menu li:eq(0)").addClass("active");
                $(".global-nav").css({"height": "315px"});
                $("#regionDetailContent2 .item-list-wrapper li").css({"margin-bottom": "15px"});
                return false;
            });
            $("#sudoMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").show()
                $("#daejun").hide()
                $("#daegu").hide()
                $("#busan").hide()
                $("#gju").hide()
                $("#incheon").hide()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(0)").addClass("active");
                return false;
            });
            $("#inCheonMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").hide()
                $("#incheon").show()
                $("#daejun").hide()
                $("#daegu").hide()
                $("#busan").hide()
                $("#gju").hide()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(1)").addClass("active");
                return false;
            });
            $("#busanMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").hide()
                $("#daejun").hide()
                $("#daegu").hide()
                $("#busan").show()
                $("#incheon").hide()
                $("#gju").hide()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(2)").addClass("active");
                return false;
            });
            $("#daejunMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").hide()
                $("#daejun").show()
                $("#daegu").hide()
                $("#incheon").hide()
                $("#busan").hide()
                $("#gju").hide()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(3)").addClass("active");
                return false;
            });
            $("#daeguMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").hide()
                $("#daejun").hide()
                $("#daegu").show()
                $("#incheon").hide()
                $("#busan").hide()
                $("#gju").hide()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(4)").addClass("active");
                return false;
            });
            $("#gjuMain").click(function () {
                $(".top-menu > li").removeClass('active');
                $("#sudo").hide()
                $("#daejun").hide()
                $("#daegu").hide()
                $("#incheon").hide()
                $("#busan").hide()
                $("#gju").show()
                initMenuForRegionContent2();
                $("#regionContent2 .top-menu li:eq(5)").addClass("active");
                return false;
            });
            $("#region3").click(function () {
                $(".global-nav").css({"height": "315px"});
                $("li[id*=region]").removeClass("active")
                $("div[id*=regionContent]").hide()

                changeRegionCategory1("서울", 'regionDetailContent3', '3')
                $("#region3").addClass("active");
                $("#regionContent3").show();
                // if (status == "none") {
                //     $("#hidden").css("display", "");
                // } else {
                //     $("#hidden").css("display", "none");
                // }
            });

            $("#region4").click(function () {
                $(".global-nav").css({"height": "315px"});
                navigator.geolocation.getCurrentPosition(success, error, options);


            });

            var options = {
                enableHighAccuracy : true,
                timeout : 5000,
                maximumAge : 0
            };

            function success(pos) {
                var crd = pos.coords;
                lat = crd.latitude;
                lon = crd.longitude;

                location.href="/shop/location/" + lat + "/" + lon + "/red";
                // $.ajax({
                //     url : 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x=' + lon +'&y=' + lat,
                //     type : 'GET',
                //     headers : {
                //         'Authorization' : 'KakaoAK 70474aee6f5d5b3f646a752c232a52f4'
                //     },
                //     success : function(data) {
                //         console.log(data);
                //         let depth1 = data.documents[0].address.region_1depth_name;
                //         let depth2 = data.documents[0].address.region_2depth_name;
                //         let depth3 = data.documents[0].address.region_3depth_name;
                //         console.log(depth1)
                //         console.log(depth2)
                //
                //     },
                //     error: function(e) {
                //         console.log(e);
                //     }
                // });
            };

            function error(err) {
                console.warn('ERROR(' + err.code + '): ' + err.message);
            };



        })

        function initMenuForRegionContent2(){
            $("#sudo li *").css('color', '#707070');
            $("#sudo li *").css('opacity', '1.0');
            $("#busan li *").css('color', '#707070');
            $("#busan li *").css('opacity', '1.0');
            $("#daegu li *").css('color', '#707070');
            $("#daegu li *").css('opacity', '1.0');
            $("#daejun li *").css('color', '#707070');
            $("#daejun li *").css('opacity', '1.0');
            $("#gju li *").css('color', '#707070');
            $("#gju li *").css('opacity', '1.0');
            $("#incheon li *").css('color', '#707070');
            $("#incheon li *").css('opacity', '1.0');
            $("#regionDetailContent2 .item-list-wrapper").hide();
        }
    </script>
</header>