<!-- Header -->
<header id="header">
    <div class="inner-wrapper">
        <a href="#" class="btn-category"><span>카테고리</span></a>
        <a href="/">
        <h1></h1>
        </a>
        <ul class="util-menu">
            <li class="search">
                <a href="#"><span>검색</span></a>
                <div class="search-form">
                    <form method="post" action="#">
                        <input type="text" placeholder="맛집 키워드를 검색해 보세요."/>
                    </form>
                </div>
            </li>
            <li class="login">
                <a href="#"><span>로그인/회원가입</span></a>

                <ul class="login-menu-layer">
                    <li>
                        <a href="/auth/login">로그인</a>
                    </li>
                    <li>
                        <a href="/auth/join">회원가입</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Global Navigation -->
    <div class="global-nav">
        <div class="inner">
            <ul class="side-menu">
                <li class="active"><a href="#">지역별</a></li>
                <li><a href="#">역세권</a></li>
                <li><a href="#">맛집촌</a></li>
                <li><a href="#">위치기반</a></li>
            </ul>
            <div class="gnb-contents">
                <ul class="top-menu">
                    <li class="active"><a href="#">서울</a></li>
                    <li><a href="#">경기</a></li>
                    <li><a href="#">인천</a></li>
                    <li><a href="#">대전</a></li>
                    <li><a href="#">광주</a></li>
                    <li><a href="#">대구</a></li>
                    <li><a href="#">울산</a></li>
                    <li><a href="#">부산</a></li>
                    <li><a href="#">강원</a></li>
                    <li><a href="#">충북</a></li>
                    <li><a href="#">충남</a></li>
                    <li><a href="#">전북</a></li>
                    <li><a href="#">전남</a></li>
                    <li><a href="#">경북</a></li>
                    <li><a href="#">경남</a></li>
                    <li><a href="#">제주</a></li>
                    <li><a href="#">세종</a></li>
                </ul>
                <ul class="item-list-wrapper">
                    <li><a href="#">강남구<span>(376)</span></a></li>
                    <li><a href="#">강동구<span>(36)</span></a></li>
                    <li><a href="#">강북구<span>(136)</span></a></li>
                    <li><a href="#">강서구<span>(83)</span></a></li>
                    <li><a href="#">관악구<span>(79)</span></a></li>
                    <li><a href="#">광진구<span>(102)</span></a></li>
                    <li><a href="#">구로구<span>(4)</span></a></li>
                    <li><a href="#">금천구<span>(11)</span></a></li>
                    <li><a href="#">노원구<span>(59)</span></a></li>
                    <li><a href="#">도봉구<span>(20)</span></a></li>
                    <li><a href="#">강남구<span>(376)</span></a></li>
                    <li><a href="#">강동구<span>(36)</span></a></li>
                    <li><a href="#">강북구<span>(136)</span></a></li>
                    <li><a href="#">강서구<span>(83)</span></a></li>
                    <li><a href="#">관악구<span>(79)</span></a></li>
                    <li><a href="#">광진구<span>(102)</span></a></li>
                    <li><a href="#">구로구<span>(4)</span></a></li>
                    <li><a href="#">금천구<span>(11)</span></a></li>
                    <li><a href="#">노원구<span>(59)</span></a></li>
                    <li><a href="#">도봉구<span>(20)</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Global Navigation END -->
</header>