<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodie</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}" />
    <!-- Custom styles for this page -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="./fragments/admin-sidebar.html"> </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">주요지역 추천맛집</h1>
<!--                    <p th:text="${regionInfos}"></p>-->
<!--                    <p class="mb-4">레드리스트 관리자 페이지 입니다. <a target="_blank" href="#">레드리스트 이동</a>.</p>-->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="    width: 30%;float: left;">주요지역 추천맛집</h6>
<!--                            <a th:href="@{/admin/registerRedShop}">-->
<!--                                <button class="btn btn-info btn-sm" style="float: right">맛집 추가하기</button>-->
<!--                            </a>-->
                        </div>
                        <div>
                        <div style="width: 30%;">
                            <div style="display: inline-flex;padding-top:25px;">
                                <div  style="    padding-left: 20px;width: 120px;"> 지역 </div>
                                <p style="    padding-left: 20px;">
    <!--                            <p th:text="${regionInfos}"></p>-->
                                    <select id="table-filter1" style="    height: 31px;">
                                        <option value="1">서울</option>
                                        <option value="2">부산</option>
                                        <option value="3">강원</option>
                                        <option value="4">전라남도</option>
                                        <option value="5">제주</option>
                                    </select>
                                </p>
                                <button class="btn btn-info btn-sm" value="조회" style="    width: 100px;margin-left: 14px;margin-top: -2px;height: 37px;" onclick="filterRecommnadList()">조회</button>
<!--                                <input type="text" class="form-control">-->
                                <button class="btn btn-info btn-sm" value="상점조회" id="search_list_detail" style="    width: 100px;margin-left: 14px;margin-top: -2px;height: 37px;">상점조회</button>
                            </div>
<!--                            <div>-->
<!---->
<!--                            </div>-->
                        </div>
                        <div>
                            <div class="card-body" style="font-size: 24px;padding-bottom: 0px;">< 선택 리스트 ></div>
                            <div class="card-body">
                            <div class="table-responsive" style="width:100%;">
                                <table class="table table-bordered display" id="example" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center" >사진</th>
                                        <th>가게이름</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- 맛집 주소검색 Modal팝업 -->
    <div class="modal fade" id="search_list" tabindex="-1" role="dialog" aria-labelledby="address-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="address-modal-bael">가게 리스트 검색</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="detail_list">
                        <div class="table-responsive" style="width:100%;">
                            <table class="table table-bordered display" id="example3" cellspacing="0" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th style="text-align: center" >사진</th>
                                    <th>가게이름</th>
                                    <th>등록</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
        <script th:src="@{/js/admin-recommand.js}"></script>
</body>

<style>
    #preview{
        z-index: 9999;
        position:absolute;
        border:0px solid #ccc;
        background:#333;
        padding:1px;
        display:none;
        color:#fff;
    }

    table{
        table-layout: fixed;
        word-wrap:break-word;
    }
    .data_table {
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        var xOffset = 10;
        var yOffset = 30;

        $(document).on("mouseover",".thumbnail",function(e){ //마우스 오버시

            $("body").append("<p id='preview'><img src='"+ $(this).attr("src") +"' width='400px' /></p>"); //보여줄 이미지를 선언
            $("#preview")
                .css("top",(e.pageY - xOffset) + "px")
                .css("left",(e.pageX + yOffset) + "px")
                .fadeIn("fast"); //미리보기 화면 설정 셋팅
        });

        $(document).on("mousemove",".thumbnail",function(e){ //마우스 이동시
            $("#preview")
                .css("top",(e.pageY - xOffset) + "px")
                .css("left",(e.pageX + yOffset) + "px");
        });

        $(document).on("mouseout",".thumbnail",function(){ //마우스 아웃시
            $("#preview").remove();
        });

        $('#example3').DataTable( {
            "ajax": "/admin/recommand/main/regionInfo/1",
            "columns": [
                { 'data': "shopImage", 'render': function (data) { return '<img src="' + data + '" class="thumbnail" style="width: 80px;height:60px;" />'; } },
                { "data": "shopName" , 'render': function  ( data, type, row ) { return '<div><a href="/admin/shop/red/'+ row.shopId +'">'+ data + '</a></div><div><span> 주소 -'+ row.address +'</span></div>'; } },
                { "data": "shopName", 'render': function  ( data, type, row ) { return '<button value="row.shopId" onclick="registerShop(' + row.shopId + ')"> 등록 </button>' }  },
            ],
            "columnDefs": [
                { "width": "50px", "targets": 0, "className": "data_table" },
                { "width": "200px", "targets": 1, "className": "data_table"  },
                { "width": "60px", "targets": 2, "className": "data_table"  },
            ]
        } );




        $('#example').DataTable( {
            "ajax": "/admin/recommand/main/regionInfo/1",
            "columns": [
                // <div>
                //     <a th:href="@{'/admin/shop/red/'+${shop.shopId}}" th:text="${shop.shopName}"></a>
                // </div>
                // <div>
                //     <span th:text="${'주소- ' + shop.address}"></span>
                // </div>

                { 'data': "shopImage", 'render': function (data) { return '<img src="' + data + '" class="thumbnail" style="width: 80px;height:60px;" />'; } },
                { "data": "shopName" , 'render': function  ( data, type, row ) { return '<div><a href="/admin/shop/red/'+ row.shopId +'">'+ data + '</a></div><div><span> 주소 -'+ row.address +'</span></div>'; } },
                // { "data": "foodieLogRating" },
                // { "data": "isReservation" },
                // { "data": "updatedAt", 'render': function  ( data, type, row ) { return moment(data).format("YYYY-MM-DD HH:mm"); }  },
                // { "data": "createdAt", 'render': function  ( data, type, row ) { return moment(data).format("YYYY-MM-DD HH:mm"); }  },
                { "data": "shopName", 'render': function  ( data, type, row ) { return '<button value="row.shopId" onclick="deleteShop(' + row.shopId + ')"> 내리기 </button>' }  },
            ],
            "columnDefs": [
                { "width": "50px", "targets": 0, "className": "data_table" },
                { "width": "200px", "targets": 1, "className": "data_table"  },
                // { "width": "60px", "targets": 2, "className": "data_table"  },
                // { "width": "60px", "targets": 3, "className": "data_table"  },
                // { "width": "160px", "targets": 4, "className": "data_table"  },
                // { "width": "160px", "targets": 5, "className": "data_table"  },
                { "width": "60px", "targets": 2, "className": "data_table"  },
            ],
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );


    } );
    function registerShop(shopId){
        var shopId = shopId;
        var val = $( '#table-filter1 option:selected').val();
        $('#example').dataTable().fnClearTable();
        $.ajax({
            type:"post",
            url:"/admin/recommand/update/main/regionInfo/address/" + val +"/shop/" + shopId,
            datatype: "json",
            success: function(data) {
                console.log(data);
                if(data == null){
                    alert("이미 8개의 행이 다 등록되어있습니다.")
                }else if(data.data.length > 0) {
                    alert(data.data);
                    var response_data = [];
                    for (step = 0; step < data.data.length; step++) {
                        // Runs 5 times, with values of step 0 through 4.
                        response_data.push(data.data[step])
                    }
                    console.log(response_data)
                    // $('#example tbody tr').replaceWith(data);
                    // $('#payload tr').remove();
                    // $('#payload').html(data);
                    $('#example').dataTable().fnAddData(response_data);
                    // $.each(data, function(key, value) {
                    //     $("#example tbody").append("<tr>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "</tr>");
                    // });
                }else{
                    alert("unkown error")
                }
            },

            error: function(x, o, e) {
                var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                alert(msg);
            }
        });
    }
    function deleteShop(shopId){
        var shopId = shopId;
        var val = $( '#table-filter1 option:selected').val();
        $('#example').dataTable().fnClearTable();
        $.ajax({
            type:"delete",
            url:"/admin/recommand/update/main/regionInfo/address/" + val +"/shop/" + shopId,
            datatype: "json",
            success: function(data) {
                console.log(data);
                alert("삭제완료");
                if(data.data.length > 0) {
                    var response_data = [];
                    for (step = 0; step < data.data.length; step++) {
                        // Runs 5 times, with values of step 0 through 4.
                        response_data.push(data.data[step])
                    }
                    console.log(response_data)
                    // $('#example tbody tr').replaceWith(data);
                    // $('#payload tr').remove();
                    // $('#payload').html(data);
                    $('#example').dataTable().fnAddData(response_data);
                    // $.each(data, function(key, value) {
                    //     $("#example tbody").append("<tr>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "</tr>");
                    // });

                }
            },

            error: function(x, o, e) {
                var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                alert(msg);
            }
        });
    }
    function filterRecommnadList(){
        var val = $( '#table-filter1 option:selected').val();
        console.log(val)
        $('#example').dataTable().fnClearTable();
        $.ajax({
            type:"get",
            url:"/admin/recommand/main/regionInfo/" + val,
            datatype: "json",
            success: function(data) {
                if(data.data.length > 0) {
                    var response_data = [];
                    for (step = 0; step < data.data.length; step++) {
                        // Runs 5 times, with values of step 0 through 4.
                        response_data.push(data.data[step])
                    }
                    console.log(response_data)
                    // $('#example tbody tr').replaceWith(data);
                    // $('#payload tr').remove();
                    // $('#payload').html(data);
                    $('#example').dataTable().fnAddData(response_data);
                    // $.each(data, function(key, value) {
                    //     $("#example tbody").append("<tr>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "<td> hihihii </td>" +
                    //         "</tr>");
                    // });

                } else {
                    return;
                }
            },

            error: function(x, o, e) {
                var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                alert(msg);
            }
        });
    }
    $('.selectpicker').selectpicker();

</script>

</html>