<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodie</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}"/>
    <!-- Custom styles for this page -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="./fragments/admin-sidebar.html"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">등록환경설정</h1>
                <!--                    <p th:text="${regionInfos}"></p>-->

                <!-- DataTales Example -->
                <div class="card shadow mb-4" style="    height: 800px;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"> 카테고리설정 ( <a
                                href="/admin/registerEnv/red">레드리스트</a> / <a href="/admin/registerEnv/green">그린리스트</a>)
                        </h6>
                        <h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"><a
                                href="/admin/registerEnv/region" class="text-primary">지역설정 </a></h6>
                        <h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"><a
                                href="/admin/registerEnv/subway"> 역세권설정 </a></h6>
                        <h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"><a
                                href="/admin/registerEnv/foodVillage"> 맛집촌설정 </a></h6>
                        <h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"><a
                                href="/admin/registerEnv/theme"> 테마설정 </a></h6>
                        <!--<h6 class="m-0 font-weight-bold " style="padding-left: 20px; float: left;"><a
                                href="/admin/registerEnvHastag"> 해시태그설정 </a></h6>-->
                    </div>
                    <div class="card-body" style="  justify-content: center;display: flex ;  margin: auto;">
                        <div class="tableFixHead">
                            <div id="categoryHead1">
                                <span>시</span>
                            </div>
                            <table class="table-bordered display" id="example1" style="width: 240px;" cellspacing="0">
                                <tbody id="bcode">
                                    <tr th:each="val : ${regionInfos}">
                                        <td onclick="get_city(event)">
                                            <input type="checkbox" class="chkRadio" id="category_1" th:value="${val.id}"
                                                   th:name="${val.listName}" th:text="${' ' + val.listName}"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center;  background: aliceblue;" class="stickyId" id="bcodeFunction">
                                <div>
                                    <a id='bcode-up' href="javascript:void(0)">
                                        <button class="featureButton">위로</button>
                                    </a>
                                    <a id='bcode-down' href="javascript:void(0)">
                                        <button class="featureButton">아래로</button>
                                    </a>
                                    <a href="#layer1" class="addRegion">
                                        <button class="featureButton">추가</button>
                                    </a>
                                    <a href="#layer2" class="modifyRegion">
                                        <button class="featureButton">수정</button>
                                    </a>
                                </div>
                                <div>
                                    <a id='bcode-upFirst' href="javascript:void(0)">
                                        <button class="featureButton">처음</button>
                                    </a>
                                    <a id='bcode-downLast' href="javascript:void(0)">
                                        <button class="featureButton">맨끝</button>
                                    </a>
                                    <a id='bcode-remove' href="javascript:void(0)" style="padding-left: 10px;">
                                        <button class="featureButton">삭제</button>
                                    </a>
                                    <a href="#layer1" id="bcode-save-region">
                                        <button class="featureButton">저장</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tableFixHead">

                            <div id="categoryHead2">
                                <span>군/구</span>
                            </div>
                            <input type="hidden" id="mcode-parent-no">
                            <table class="table-bordered display" id="example2" style="width: 220px;" cellspacing="0">
                                <tbody id="mcode">

                                </tbody>
                            </table>
                            <div style="background: aliceblue;" class="stickyId" id="mcodeFunction">
                                <div>
                                    <a id='mcode-up' href="javascript:void(0)">
                                        <button class="featureButton">위로</button>
                                    </a>
                                    <a id='mcode-down' href="javascript:void(0)">
                                        <button class="featureButton">아래로</button>
                                    </a>
                                    <a href="#layer1" class="addRegion">
                                        <button class="featureButton">추가</button>
                                    </a>
                                    <a href="#layer2" class="modifyRegion">
                                        <button class="featureButton">수정</button>
                                    </a>
                                </div>
                                <div>
                                    <a id='mcode-upFirst'>
                                        <button class="featureButton">처음</button>
                                    </a>
                                    <a id='mcode-downLast' href="javascript:void(0)">
                                        <button class="featureButton">맨끝</button>
                                    </a>
                                    <a href="javascript:void(0)" style="padding-left: 10px;"
                                       id='mcode-remove'>
                                        <button class="featureButton">삭제</button>
                                    </a>
                                    <a href="#layer1" id="mcode-save-region">
                                        <button class="featureButton">저장</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tableFixHead">
                            <div id="categoryHead1">
                                <span>동</span>
                            </div>

                            <input type="hidden" id="scode-parent-no">
                            <table class="table-bordered display" id="example3" style="width: 220px;" cellspacing="0">
                                <tbody id="scode">
                                </tbody>
                            </table>
                            <div style="    background: aliceblue;" class="stickyId" id="scodeFunction">
                                <div>
                                    <a id='scode-up' href="javascript:void(0)">
                                        <button class="featureButton">위로</button>
                                    </a>
                                    <a id='scode-down' href="javascript:void(0)">
                                        <button class="featureButton">아래로</button>
                                    </a>
                                    <a href="#layer1" class="addRegion">
                                        <button class="featureButton">추가</button>
                                    </a>
                                    <a href="#layer2" class="modifyRegion">
                                        <button class="featureButton">수정</button>
                                    </a>
                                </div>
                                <div>
                                    <a id='scode-upFirst' href="javascript:void(0)">
                                        <button class="featureButton">처음</button>
                                    </a>
                                    <a id='scode-downLast' href="javascript:void(0)">
                                        <button class="featureButton">맨끝</button>
                                    </a>
                                    <a href="javascript:void(0)" style="padding-left: 10px;" id='scode-remove'>
                                        <button class="featureButton">삭제</button>
                                    </a>
                                    <a href="#layer1" id="scode-save-region">
                                        <button class="featureButton">저장</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<div id="layer1" class="pop-layer">
    <div class="pop-container">
        <div class="pop-conts">
            <!--content //-->
            <input type="hidden" id="type">
            <p class="ctxt mb20">추가<br>
            </p>
            <input type="text" value="" id="add_region">
            <div class="btn-r">
                <a href="javascript:void(0)" class="btn-layerAdd">등록</a>
                <a href="javascript:void(0)" class="btn-layerClose">닫기</a>
            </div>
            <!--// content-->
        </div>
    </div>
</div>

<div id="layer2" class="pop-layer">
    <div class="pop-container">
        <div class="pop-conts">
            <!--content //-->
            <input type="hidden" id="modify-type">
            <p class="ctxt mb20">수정<br>
            </p>
            <input type="text" id="modify-category-name" value=""/>
            <div class="btn-r">
                <a href="javascript:void(0)" class="btn-layerMODIFY">수정</a>
                <a href="javascript:void(0)" class="btn-layerClose">닫기</a>
            </div>
            <!--// content-->
        </div>
    </div>
</div>

</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<!--    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>-->
<!--    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>-->

<!-- Page level custom scripts -->
<!--    <script th:src="@{/js/demo/datatables-demo.js}"></script>-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
<script th:src="@{/js/sticky.js}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fixed-header-table/1.3.0/jquery.fixedheadertable.min.js"></script>

</body>

<style>
    .featureButton {
        width: 50px;
        height: 25px;
        border-radius: 5px;
        font-size: 9pt;
    }

    a {
        color: black;
    }

    .tableFixHead {
        height: 540px;
        margin-left: 50px;
    }

    #categoryHead3, #categoryHead2, #categoryHead1 {
        top: 0;
        text-align: center
    }

    /*.tableFixHead tfoot th { position: fixed; position: sticky; bottom: 0; z-index: 1; height: 100px;     padding-right: 0px;}*/

    /*Just common table stuff. Really.*/
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        width: 240px;
    }

    th {
        background: #eee;
    }

    .stickyId1, .stickyId2, .stickyId3 {
        padding-top: 20px;
        padding-bottom: 20px;
        background: aliceblue;
    }

    .stickyId {
        height: 70px;
        padding-top: 7px;
    }

    table {
        overflow-x: scroll;
    }

    tbody {
        height: 500px; /*your desired max height*/
        overflow-y: scroll;
        display: block;
    }


    .pop-layer .pop-container {
        padding: 20px 25px;
    }

    .pop-layer p.ctxt {
        color: #666;
        line-height: 25px;
    }

    .pop-layer .btn-r {
        width: 100%;
        margin: 10px 0 20px;
        padding-top: 10px;
        border-top: 1px solid #DDD;
        text-align: right;
    }

    .pop-layer {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 410px;
        height: auto;
        background-color: #fff;
        border: 5px solid #3571B5;
        z-index: 10;
    }

    .dim-layer {
        display: none;
        position: fixed;
        _position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .dim-layer .dimBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
        filter: alpha(opacity=50);
    }

    .dim-layer .pop-layer {
        display: block;
    }

    a.btn-layerAdd {
        display: inline-block;
        height: 25px;
        padding: 0 14px 0;
        border: 1px solid #304a8a;
        background-color: #3f5a9d;
        font-size: 13px;
        color: #fff;
        line-height: 25px;
    }

    a.btn-layerAdd:hover {
        border: 1px solid #091940;
        background-color: #1f326a;
        color: #fff;
    }

    a.btn-layerClose {
        display: inline-block;
        height: 25px;
        padding: 0 14px 0;
        border: 1px solid #304a8a;
        background-color: #3f5a9d;
        font-size: 13px;
        color: #fff;
        line-height: 25px;
    }

    a.btn-layerMODIFY {
        display: inline-block;
        height: 25px;
        padding: 0 14px 0;
        border: 1px solid #304a8a;
        background-color: #3f5a9d;
        font-size: 13px;
        color: #fff;
        line-height: 25px;
    }

    a.btn-layerClose:hover {
        border: 1px solid #091940;
        background-color: #1f326a;
        color: #fff;
    }

    .addRegion {
        padding-left: 10px;
    }


    table tbody tr.highlight { background-color: darkgray; }

</style>
<script th:inline="javascript">

    let REGION = [];
    let MREGION = [];
    let SREGION = [];

    $(document).ready(function () {
        REGION = [[${regionInfos}]];

        //추가
        $('#bcodeFunction .addRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#bcode";
            $('#type').val(type);
            layer_popup($href, type);
        });

        $('#mcodeFunction .addRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#mcode";
            $('#type').val(type);
            layer_popup($href, type);
        });
        $('#scodeFunction .addRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#scode";
            $('#type').val(type);
            layer_popup($href, type);
        });

        $('#bcode-save-region').on('click', () => {
            updateRequest(REGION);
        })

        $('#mcode-save-region').on('click', () => {
            updateRequest(MREGION);
        })

        $('#scode-save-region').on('click', () => {
            updateRequest(SREGION);
        })

        $('.btn-layerAdd').on("click", () => {
            updateListName();
        })




        // 수정
        $('#bcodeFunction .modifyRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#bcode";
            $('#modify-type').val(type);
            var category_name = jQuery("#bcode .chkRadio:checked").parent().text().trim();
            $('#layer2 #modify-category-name').val(category_name)
            layer_popup($href, type);
        });

        $('#mcodeFunction .modifyRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#mcode";
            $('#modify-type').val(type);
            var category_name = jQuery("#mcode .chkRadio:checked").parent().text().trim();
            $('#layer2 #modify-category-name').val(category_name)
            layer_popup($href, type);
        });
        $('#scodeFunction .modifyRegion').on('click', function () {
            var $href = $(this).attr('href');
            const type = "#scode";
            $('#modify-type').val(type);
            var category_name = jQuery("#scode .chkRadio:checked").parent().text().trim();
            $('#layer2 #modify-category-name').val(category_name)
            layer_popup($href, type);
        });

        $('.btn-layerMODIFY').on("click", () => {
            modifyListName();
        })

        $("#example1").on('click', 'tr', function(e){
            // if( $(e.target).is('input:checkbox') ) return;
            var checkboxes = $('#example1 tr td input[type=checkbox]');
            for(var i=0; i<checkboxes.length; i++){
                if(checkboxes[i] != checkboxes){
                    checkboxes[i].checked = false;
                }
            }
            var chkbox = $(this).find('td:first-child :checkbox');
            console.log(chkbox)
            chkbox.prop('checked', !chkbox.prop('checked'));
        });

        $("#example2").on('click', 'tr', function(e){
            // if( $(e.target).is('input:checkbox') ) return;
            var checkboxes = $('#example2 tr td input[type=checkbox]');
            for(var i=0; i<checkboxes.length; i++){
                if(checkboxes[i] != checkboxes){
                    checkboxes[i].checked = false;
                }
            }
            var chkbox = $(this).find('td:first-child :checkbox');
            console.log(chkbox)
            chkbox.prop('checked', !chkbox.prop('checked'));
        });

        $("#example3").on('click', 'tr', function(e){
            // if( $(e.target).is('input:checkbox') ) return;
            var checkboxes = $('#example3 tr td input[type=checkbox]');
            for(var i=0; i<checkboxes.length; i++){
                if(checkboxes[i] != checkboxes){
                    checkboxes[i].checked = false;
                }
            }
            var chkbox = $(this).find('td:first-child :checkbox');
            console.log(chkbox)
            chkbox.prop('checked', !chkbox.prop('checked'));
        });

        // 시
        $('#bcode-up').on('click', () => {
            rowMoveEvent('up', 'bcode', REGION);
        })
        $('#bcode-down').on('click', () => {
            rowMoveEvent('down', 'bcode', REGION);
        })
        $('#bcode-upFirst').on('click', () => {
            rowMoveEvent('upFirst', 'bcode', REGION);
        })
        $('#bcode-downLast').on('click', () => {
            rowMoveEvent('downLast', 'bcode', REGION);
        })
        $('#bcode-remove').on('click', () => {
            rowMoveEvent('remove', 'bcode', REGION);
        })

        // 구
        $('#mcode-up').on('click', () => {
            rowMoveEvent('up', 'mcode', MREGION);
        })
        $('#mcode-down').on('click', () => {
            rowMoveEvent('down', 'mcode', MREGION);
        })
        $('#mcode-upFirst').on('click', () => {
            rowMoveEvent('upFirst', 'mcode', MREGION);
        })
        $('#mcode-downLast').on('click', () => {
            rowMoveEvent('downLast', 'mcode', MREGION);
        })
        $('#mcode-remove').on('click', () => {
            rowMoveEvent('remove', 'mcode', MREGION);
        })
        // 동
        $('#scode-up').on('click', () => {
            rowMoveEvent('up', 'scode', SREGION);
        })
        $('#scode-down').on('click', () => {
            rowMoveEvent('down', 'scode', SREGION);
        })
        $('#scode-upFirst').on('click', () => {
            rowMoveEvent('upFirst', 'scode', SREGION);
        })
        $('#scode-downLast').on('click', () => {
            rowMoveEvent('downLast', 'scode', SREGION);
        })
        $('#scode-remove').on('click', () => {
            rowMoveEvent('remove', 'scode', SREGION);
        })

        $('.chkRadio').on('click', () => {
            if ($('#bcode .chkRadio:checked').length === 0) {
                if (SREGION === null) {
                    SREGION || SREGION.empty();
                }
                if (MREGION === null) {
                    MREGION || MREGION.empty();
                }
            }

            if ($('mcode .chkRadio:checked').length === 0) {
                if (SREGION === null) {
                    SREGION || SREGION.empty();
                }
            }
        })
    });


    const updateRequest = (target) => {
        // alert(target);
        $.ajax({
            url: "/admin/epicure/region",
            type: "POST",
            data: JSON.stringify(target),
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            success: function (result) {
                const {resultCode, message} = result;
                if (resultCode === "FAIL") {
                    alert(message);
                }
                location.reload();
            },
            error: function () {
                alert("네트워크 에러입니다.");
            }
        })
    }

    function rowMoveEvent(direction, type, target) {
        // 체크된 행(row)의 존재 여부를 파악한다.
        console.log("rowEvent")
        var regiontype = "#" + type;
        if (jQuery(regiontype + " .chkRadio:checked").val() && jQuery(regiontype + " .chkRadio:checked").length == 1) {
            // 체크된 라디오 박스의 행(row)을 변수에 담는다.
            var row = jQuery(regiontype + " .chkRadio:checked").parent().parent();
            // 체크된 행(row)의 이동 한계점을 파악하기 위해 인덱스를 파악한다.
            var num = row.index();
            // 전체 행의 개수를 구한다.
            var max = (jQuery(regiontype + " .chkRadio").length - 1);	   // index는 0부터 시작하기에 -1을 해준다.
            if (direction === "up") {
                if (num === 0) {
                    // 체크된 행(row)의 위치가 최상단에 위치해 있을경우 더이상 올라갈 수 없게 막는다.
                    alert("첫번째로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");
                    return false;
                } else {
                    // 체크된 행(row)을 한칸 위로 올린다.
                    row.prev().before(row);
                    target
                        .filter(
                            cur => cur.seq === num // num == 4, sea == 5
                        )
                        .map(cur => cur.seq++)
                    const cur = target.filter((seq) => {
                        const val = jQuery(regiontype + " .chkRadio:checked").val();
                        // console.log("seqId = " + seq.id + " rowVal = " + val);
                        return seq.id == val
                    });
                    cur[0].seq = num;
                    console.log(cur)
                    console.log(`id = ${cur[0].id}, name = ${cur[0].name}, seq = ${cur[0].seq}, visible = ${cur[0].visiable}`);
                }


            } else if (direction === "down") {
                if (num >= max) {
                    // 체크된 행(row)의 위치가 최하단에 위치해 있을경우 더이상 내려갈 수 없게 막는다.
                    alert("마지막으로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");
                    return false;
                } else {
                    // 체크된 행(row)을 한칸 아래로 내린다.
                    row.next().after(row);
                    target
                        .filter(
                            cur => cur.seq === num + 2 // num == 4, sea == 5
                        )
                        .map(cur => cur.seq--)
                    const cur = target.filter((seq) => {
                        const val = jQuery(regiontype + " .chkRadio:checked").val();
                        // console.log("seqId = " + seq.id + " rowVal = " + val);
                        return seq.id == val
                    });
                    cur[0].seq = num + 2;
                    console.log(cur)
                    console.log(`id = ${cur[0].id}, name = ${cur[0].name}, seq = ${cur[0].seq}, visible = ${cur[0].visiable}`);
                }
            } else if (direction == "upFirst") {
                if (num === 0) {
                    // 체크된 행(row)의 위치가 최하단에 위치해 있을경우 더이상 내려갈 수 없게 막는다.
                    alert("첫번째로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");
                    return false;
                } else {
                    // 체크된 행(row)을 처음으로
                    row.closest('table').find('tr:first').before(row);
                    target.map(cur => cur.seq++)
                    const cur = target.filter((seq) => {
                        const val = jQuery(regiontype + " .chkRadio:checked").val();
                        // console.log("seqId = " + seq.id + " rowVal = " + val);
                        return seq.id == val
                    });
                    cur[0].seq = 1;
                    console.log(cur)
                    console.log(`id = ${cur[0].id}, name = ${cur[0].name}, seq = ${cur[0].seq}, visible = ${cur[0].visiable}`);
                }
            } else if (direction == "downLast") {
                if (num === max) {
                    // 체크된 행(row)의 위치가 최하단에 위치해 있을경우 더이상 내려갈 수 없게 막는다.
                    alert("마지막으로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");
                    return false;
                } else {
                    // 체크된 행(row)을 마지막으로
                    row.closest('table').find('tr:last').after(row);
                    target
                        .filter(
                            cur => cur.seq > num // num == 4, sea == 5
                        )
                        .map(cur => cur.seq--)
                    const cur = target.filter((seq) => {
                        const val = jQuery(regiontype + " .chkRadio:checked").val();
                        return seq.id == val
                    });
                    cur[0].seq = max + 1;
                }
            } else if (direction == "remove") {
                console.log(target)
                console.log($(regiontype + " .chkRadio:checked").val())
                target.filter((cur) => cur.id == $(regiontype + " .chkRadio:checked").val())
                .map((cur) => {
                    console.log(cur)
                    cur.visiable = "no"
                });
                row.remove();
                console.log(target)
            }
        } else {
            alert("선택을 안되었거나 두개이상 클릭되었습니다\n하나 선택해 주세요.");
        }
    }

    function layer_popup(el, type) {
        console.log("layer call")
        var $el = $(el);    //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg'); //dimmed 레이어를 감지하기 위한 boolean 변수
        console.log(type)
        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight / 2,
                marginLeft: -$elWidth / 2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerAdd').click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();

            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(function () {
                $("#add_region").val(' ');
            }); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $el.find('a.btn-layerMODIFY').click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();

            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(function () {
                $("#add_region").val(' ');
            }); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });
        $el.find('a.btn-layerClose').click(function () {
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function () {
            $('.dim-layer').fadeOut();
            return false;
        });

    }

    const modifyListName = () => {
        const type = $('#modify-type').val();
        const listName = $("#modify-category-name").val();


        if (type == "#mcode") {
            const checked = $("#mcode .chkRadio:checked");
            checked.parent().contents()[2].data = " " + listName;
            MREGION.filter(cur => cur.id == checked.val())
                .map((cur) => cur.listName = listName);
        } else if (type == "#scode") {
            const checked = $("#scode .chkRadio:checked");
            checked.parent().contents()[2].data = " " + listName;
            SREGION.filter(cur => cur.id == checked.val())
                .map((cur) => cur.listName = listName);
        } else {
            const checked = $("#bcode .chkRadio:checked");
            checked.parent().contents()[2].data = " " + listName;
            REGION.filter(cur => cur.id == checked.val())
                .map((cur) => cur.listName = listName);
        }
    }
    const updateListName = () => {
        const type = $('#type').val();

        const listName = $("#add_region").val();
        const max = (jQuery(type + " .chkRadio").length);	   // index는 0부터 시작하기에 -1을 해준다.
        $(type + " tr:last").after("<tr>" +
            "<td>" +
            "     <input type=\"checkbox\" class=\"chkRadio\"  id=\"category_2\"  text='" + listName + "'>" + listName +
            "</td>" +
            "</tr>");
        console.log("0000")
        console.log(type)
        if (type === "#mcode") {
            MREGION.push({
                listName: listName,
                visiable: "yes",
                code: "area_type",
                parentNo: $("#mcode-parent-no").val(),
                seq: max + 1
            });
            console.log(MREGION)

        } else if (type === "#scode") {
            SREGION.push({
                listName: listName,
                visiable: "yes",
                code: "area_type",
                parentNo: $("#scode-parent-no").val(),
                seq: max + 1
            });
            console.log(SREGION)
        } else {
            REGION.push({
                listName: listName,
                visiable: "yes",
                code: "area_type",
                parentNo: "0",
                seq: max + 1
            });
            console.log(REGION)
        }
    }

    function get_city(event) {
        $('#example1').on('click', 'tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });

        var val = event.currentTarget.children[0].value; // 전달받은 "셀렉트박스 요소" 에서 선택된 것 찾기

        $('#mcode-parent-no').val(val);
        $.ajax({
            type: "get",
            url: "/admin/epicure/area_type/" + val,
            datatype: "json",
            success: function (data) {
                var data = data.data;
                if (data.length > 0) {
                    $("#mcode").find("tr").remove();
                    $("#scode").find("tr").remove();
                    MREGION = data
                    $.each(data, function (key, value) {
                        $("#mcode").append("<tr>" +
                            " <td onclick=\"get_scode(event)\">\n" +
                            "     <input type=\"checkbox\" class=\"chkRadio\"  id=\"category_2\" name= '" + value.id + "' text='" + value.listName + "' value='" + value.id + "'>\n" + value.listName +
                            "</td>" +
                            "</tr>");
                    });
                } else {
                    $("#mcode").find("td").remove().end().append("<tr class=\"none\"><td>NO DATA</td></tr>");
                    return;
                }
            },

            error: function (x, o, e) {
                var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                alert(msg);
            }
        });
    }

    $('#table-filter2').change(function () {
        get_scode(this); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
    });

    function get_scode(event) {
        $('#example2').on('click', 'tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
        console.log($(this))
        var val = event.currentTarget.children[0].value; // 전달받은 "셀렉트박스 요소" 에서 선택된 것 찾기
        $('#scode-parent-no').val(val);
        $.ajax({
            type: "get",
            url: "/admin/epicure/area_type/" + val,
            datatype: "json",
            success: function (data) {
                var data = data.data;
                SREGION = data;
                if (data.length > 0) {
                    $("#scode").find("tr").remove();
                    $.each(data, function (key, value) {
                        $("#scode").append("<tr>" +
                            " <td>\n" +
                            "     <input type=\"checkbox\" class=\"chkRadio\"  id=\"category_3\" name= '" + value.id + "' text='" + value.listName + "' value='" + value.id + "'>\n" + value.listName +
                            "</td>" +
                            "</tr>");
                    });
                } else {
                    $("#scode").find("td").remove().end().append("<tr class=\"none\"><td>NO DATA</td></tr>");
                    // $("#table-filter3").find("option").remove().end().append("<option>NO DATA</option>");
                    return;
                }
            },

            error: function (x, o, e) {
                var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                alert(msg);
            }
        });
    }
</script>

</html>