<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodie</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}" />
    <!-- Custom styles for this page -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="./fragments/admin-sidebar.html"> </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="card shadow mb-4" style="width: 800px;margin:auto;">
                <div>
                    <div class="card-body" style="width:100%; padding-right: 0px;margin: auto; padding-bottom: 0px;">

                        <!-- 1. 회원정보 -->
                        <div style="float: left; margin-bottom:10px;">
                            <span style="color: #317CC1; font-weight: 600; font-size: 10px;">회원 정보입니다.</span>
                        </div>
                        <!-- 테이블 -->
                        <div class="table-responsive" style="font-size: 9pt;margin: auto;    padding-right: 20px;">
                            <table class="table table-bordered display" cellspacing="0" border="1px solid #dee2e6" th:object="${user}">
                                <thead>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">이메일</td>
                                        <td width="35%" th:text="${user.email}"></td>
                                        <td class="gray-bg" align="center" width="15%">이름</td>
                                        <td width="35%" th:text="${user.name}"></td>
                                    </tr>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">비밀번호</td>
                                        <td width="35%" th:text="${user.password}"></td>
                                        <td class="gray-bg" align="center" width="15%">전화번호</td>
                                        <td width="35%" th:text="${user.telNum}"></td>
                                    </tr>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">휴대전화</td>
                                        <td width="35%" th:text="${user.phoneNum}"></td>
                                        <td class="gray-bg" align="center" width="15%">방문횟수</td>
                                        <td width="35%" th:text="${user.visitedCnt}"></td>
                                    </tr>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">주소</td>
                                        <td colspan="3" th:text="${#strings.arraySplit(user.address, '+')[1]} + ' ' +${#strings.arraySplit(user.address, '+')[2]}"></td>
                                    </tr>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">이메일수신</td>
                                        <td width="35%" th:text="${user.emailReceivedType} == '1'? '수신동의':'수신거부'"></td>
                                        <td class="gray-bg" align="center" width="15%">SNS수신</td>
                                        <td width="35%" th:text="${user.snsReceivedType} == '1'? '수신동의':'수신거부'"></td>
                                    </tr>
                                    <tr>
                                        <td class="gray-bg" align="center" width="15%">포인트</td>
                                        <td colspan="3" th:text="${user.point}"></td>
                                    </tr>
                                </thead>
                            </table>

                            <table class="table table-bordered display" cellspacing="0" border="1px solid #dee2e6">
                                <thead>
                                    <tr>
                                        <td class="gray-bg" align="center">관리자 메모<span id="tip"> + 회원은 볼 수 없음</span></td>
                                    </tr>
                                    <tr>
                                        <td height="60" valign="top" th:utext="${user.memo}"></td>
                                    </tr>
                                </thead>
                            </table>
                            <div style="text-align: center">
                                <div style="display: inline-flex;">
                                    <a id="edit-a" class="button-style" href="/">수정</a>
                                    <a id="back-first-a" class="button-style">목록</a>
                                </div>
                            </div>
                        </div>


                        <!-- 2. 맛집정보 -->
                        <div style="float: left; margin-bottom:10px;">
                            <span style="color: #317CC1; font-weight: 600; font-size: 10px;">맛집 정보 - 0건</span>
                        </div>
                        <!-- 테이블 -->
                        <div class="table-responsive" style="font-size: 9pt;margin: auto;    padding-right: 20px;">
                            <table class="table table-bordered display" cellspacing="0" border="1px solid #dee2e6">
                                <thead>
                                    <tr class="gray-bg">
                                        <td width="120">사진</td>
                                        <td>내용</td>
                                        <td width="200">등록서비스</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">등록한 맛집정보가 없습니다.</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <!-- 3. 결제정보 -->
                        <div style="float: left; margin-bottom:10px;">
                            <span style="color: #317CC1; font-weight: 600; font-size: 10px;">결제정보 - 0건</span>
                        </div>
                        <!-- 테이블 -->
                        <div class="table-responsive" style="font-size: 9pt;margin: auto;    padding-right: 20px;">
                            <table class="table table-bordered display" cellspacing="0" border="1px solid #dee2e6">
                                <thead>
                                    <tr class="gray-bg">
                                        <td>결제 내역</td>
                                        <td width="120">서비스명</td>
                                        <td width="90">등록기간</td>
                                        <td width="70">결제금액</td>
                                        <td width="80">결제방법</td>
                                        <td width="80">결제승인</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">결제내역이 존재하지 않습니다.</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div style="text-align: center">
                            <div style="display: inline-flex;">
                                <a id="back-second-a" class="button-style">목록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
</div>
</body>
<style>
    #preview{
        z-index: 9999;
        position:absolute;
        border:0px solid #ccc;
        background:#333;
        padding:1px;
        display:none;
        color:#fff;
    }

    table{
        table-layout: fixed;
        word-wrap:break-word;
    }
    .table td, .table th{
        padding: 7px !important;
    }

    .gray-bg{
        background-color: #f7f7f7;
    }

    .button-style{
        font-size: 12px;
        width: 50px;
        margin-right: 5px;
        height: 25px;
        float: right;
        margin-top: 3px;
        margin-bottom: 10px;
        background-color: #f7f7f7;
        border-radius: 5px;
        border: 1px solid gainsboro;
        color: slategray;
        padding-top: 3px;
    }

    #tip{
        margin-left: 6px;
        color: #3399FF;
        font-size: 8pt;
        font-family: dotum;
        letter-spacing: -1px;
    }

    button {
        border: 0;
        outline: 0;
        background-color: transparent;
    }

    /*.data_table {*/
    /*    text-align: center;*/
    /*    vertical-align: middle !important;*/
    /*}*/
</style>
<script type="text/javascript">
    $(document).ready(function() {
        var xOffset = 10;
        var yOffset = 30;

        $(document).on("mouseover", ".thumbnail", function (e) { //마우스 오버시

            $("body").append("<p id='preview'><img src='" + $(this).attr("src") + "' width='400px' /></p>"); //보여줄 이미지를 선언
            $("#preview")
                .css("top", (e.pageY - xOffset) + "px")
                .css("left", (e.pageX + yOffset) + "px")
                .fadeIn("fast"); //미리보기 화면 설정 셋팅
        });

        $(document).on("mousemove", ".thumbnail", function (e) { //마우스 이동시
            $("#preview")
                .css("top", (e.pageY - xOffset) + "px")
                .css("left", (e.pageX + yOffset) + "px");
        });

        $(document).on("mouseout", ".thumbnail", function () { //마우스 아웃시
            $("#preview").remove();
        });

        //뒤로가기 url 만들기
        var backLink = "/admin/user/"+getParam('userType')+"/all?page="
            + getParam('page') + "&userType=" + getParam('userType')
            + "&option=" + getParam('option') + "&keyword=" + getParam('keyword')
            + "&renderOption=" + getParam('renderOption');
        $("#back-first-a").attr("href", backLink);
        $("#back-second-a").attr("href", backLink);

        /**
         *'<a href="/admin/user/edit?id=' + user[i].id + '&page=' + currentPage + '&userType=0&option='+ $('#table-filter8 :selected').val() + '&keyword=' + $('#keyword').val() + '&renderOption=3">수정</a>'
         * @type {string}
         */
        //수정 url 만들기
        var editUrl = "/admin/user/edit?id=" + getParam('id') +
            "&page=" + getParam('page') + "&userType=" + getParam('userType') +
            "&option=" + getParam('option') + "&keyword=" + getParam('keyword') +
            "&renderOption=" + getParam('renderOption');

        $("#edit-a").attr("href", editUrl);
    });

    function getParam(name)
    {
        var curr_url = decodeURI(location.search).substr(location.search.indexOf("?") + 1);
        var svalue = "";
        curr_url = curr_url.split("&");
        for (var i = 0; i < curr_url.length; i++)
        {
            temp = curr_url[i].split("=");
            if ([temp[0]] == name) { svalue = temp[1]; }
        }
        return svalue;
    }
</script>
</html>