<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodie</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_commons.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/manage-restaurants.css}"/>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="./fragments/admin-sidebar.html"> </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="font-size: 9pt">

            <!-- Begin Page Content -->
            <div class="container-fluid" style="    width: 700px;">

                <!-- DataTales Example -->
                <form action="/admin/shop/add/red" method="post" enctype="multipart/form-data" onsubmit="return jbSubmit();">
<!--                    <input type="hidden" value="0" th:field="${shop.shopType}">-->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="    width: 30%;float: left;">레드리스트 맛집추가</h6>
                            <button class="btn btn-info btn-sm" style="float: right;width: 100px;margin-left: 14px;margin-top: -2px;height: 37px;" type="submit">등록하기</button>
                            <button class="btn btn-info btn-sm" onclick="return false;" value="상점조회" id="search_duplicated_list_detail" style=" float: right;   width: 100px;margin-left: 14px;margin-top: -2px;height: 37px;">중복확인</button>
                        </div>
                        <div class="content" style="    padding-top: 16px;">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                              <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-name-travel">여행지명</label>
                                                        <input type="text" th:field="${shop.shopName}" class="form-control" id="restaurants-name-travel" placeholder="여행지명" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-phone">전화번호</label>
                                                        <input type="tel" class="form-control" th:field="${shop.phone}" id="restaurants-phone"  placeholder="전화번호">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-manager">담당자</label>
                                                        <input type="text"  class="form-control"  th:field="${shop.shopAlias}"  id="restaurants-manager" placeholder="맛집명" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-manager-phone">담당자 연락처</label>
                                                        <input type="tel" class="form-control" id="restaurants-manager-phone" th:field="${shop.shopPhone}" placeholder="전화번호">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label for="select-tags" style="width: 400px;">전문가평가</label>
                                                        <div style="display: flex">
                                                            <select class="custom-select" id="select-tags1" th:field="${shop.foodieLogRating}">
                                                                <option value="">없음</option>
                                                                <option value="A">A</option>
                                                                <option value="AA">AA</option>
                                                                <option value="AAA">AAA</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="website">추천리스트</label>
                                                        <div class="flex">
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" id="is-free-y" type="radio" name="reservation" value="y" th:field="${shop.shopPaid}" >
                                                                <label class="custom-control-label" for="is-free-y">추천됨</label>
                                                            </div>
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" id="is-free-n" type="radio" name="reservation" value="n" th:field="${shop.shopPaid}">
                                                                <label class="custom-control-label" for="is-free-n">추천안됨</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-open-hours">운영시간</label>
                                                        <input type="text" class="form-control" id="restaurants-open-hours" th:field="${shop.operationTime}" placeholder="영업시간">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-closed">휴무일</label>
                                                        <input type="text" class="form-control" id="restaurants-closed" th:field="${shop.holiday}" placeholder="휴무일">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="table-filter3" style="width: 400px;">맛집 카테고리</label>
                                                        <div style="display: flex">
                                                            <select id="table-filter1" class="custom-select" th:field="${shop.bigCategory}">
                                                                <option value="">선택</option>
                                                                <option
                                                                        th:each="val : ${allFirstFoodInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select id="table-filter2" class="custom-select" th:field="${shop.middleCategory}">
                                                                <option
                                                                        th:each="val : ${secondFoodInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select id="table-filter3" class="custom-select" th:field="${shop.smallCategory}">
                                                                <option
                                                                        th:each="val : ${thirdFoodInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                        </div>
                                                        <div class="flex tag-list"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="website">홈페이지</label>
                                                        <input type="text" class="form-control" id="website" placeholder="홈페이지" th:field="${shop.homepage}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="recommend-menu">추천메뉴</label>
                                                        <input type="text" class="form-control" id="recommend-menu" placeholder="추천메뉴" th:field="${shop.recommandMenu}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="budget">예산</label>
                                                        <input type="text" class="form-control" id="budget" placeholder="예산"  th:field="${shop.budget}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="review-link-naver">네이버블로그 SHOP ID</label>
                                                        <input type="text" class="form-control" id="review-link-naver" th:field="${shop.blogShopId}" placeholder="https://blog.naver.com/">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="review-link-instagram">인스타그램 키워드</label>
                                                        <input type="text" class="form-control" id="review-link-instagram" placeholder="https://www.instagram.com/" th:field="${shop.instaKeyword}" >
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-open-hours">예약여부</label>
                                                        <div class="flex">
                                                            <input type="text" class="form-control" id="is_reservation" th:field="${shop.isReservation}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="park">주차여부</label>
                                                        <input type="text" class="form-control" id="park" placeholder="주차" th:field="${shop.isParking}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="restaurants-closed">포장/배달</label>
                                                            <div class="flex">
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" id="delivery-y"  type="radio" value="Y" name="delivery"  th:field="${shop.isDelivery}">
                                                                    <label class="custom-control-label" for="delivery-y">가능</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" id="delivery-n"  type="radio" value="N" name="delivery" th:field="${shop.isDelivery}" >
                                                                    <label class="custom-control-label" for="delivery-n">불가능</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="restaurants-closed">배경</label>
                                                        <div class="flex">
                                                            <div class="custom-control custom-radio">

                                                                <input class="custom-control-input" id="background_type_1" type="radio" name="background_type" th:field="${shop.shopType}" value="1" >
                                                                <label class="custom-control-label" for="background_type_1">1번(레드)</label>
                                                                <img src="/images/background_red.png" class="thumbnail" height='30px' />
                                                            </div>
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" id="background_type_3" type="radio" name="background_type" th:field="${shop.shopType}" value="3" >
                                                                <label class="custom-control-label" for="background_type_3">3번(머스타드)</label>
                                                                <img src="/images/background_mustard.png" class="thumbnail" height='30px' />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="select-tags" style="width: 400px;">지역별 설정</label>
                                                        <div style="display: flex">
                                                            <select id="table-filter4" class="custom-select" th:field="${shop.area1st}">
                                                                <!--/*@thymesVar id="listName" type="String"*/-->
                                                                <option
                                                                        th:each="val : ${allFirstRegionInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select class="custom-select"  id="table-filter5" th:field="${shop.area2st}">
                                                                <option
                                                                        th:each="val : ${secondRegionInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select class="custom-select"  id="table-filter6" th:field="${shop.area3st}">
                                                                <option
                                                                        th:each="val : ${thirdRegionInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="select-tags" style="width: 400px;">역세권 설정</label>
                                                        <div style="display: flex">
                                                            <select id="table-filter7" class="custom-select" th:field="${shop.subwayTypeId}">
                                                                <!--/*@thymesVar id="listName" type="String"*/-->
                                                                <option
                                                                        th:each="val : ${allFirstSubwayInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select class="custom-select"  id="table-filter8" th:field="${shop.subway2st}">
                                                                <option
                                                                        th:each="val : ${secondSubwayInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <select class="custom-select"  id="table-filter9" th:field="${shop.subway3st}">
                                                                <option
                                                                        th:each="val : ${thirdSubwayInfos}"
                                                                        th:value="${val.id}"
                                                                        th:utext="${val.listName}"
                                                                ></option>
                                                            </select>
                                                            <input class="form-control" id="exit" type="text" placeholder="출구" name="exit"  th:field="${shop.exitNum}" style="    width: 45px;font-size: 9pt !important;">
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>


                                            <div class="form-group" style="display: flex; padding-top: 20px;">
                                                <div class="" style="width: 50%;">
                                                    <label for="restaurants-address-detial">주소 (도로명)</label>
                                                    <div style="display: flex;">
                                                        <input type="text" class="form-control" id="restaurants-address-detial" placeholder="주소" th:field="${shop.address}" >
                                                    </div>
                                                </div>

                                                <div class="" style="width: 50%;">
                                                    <label for="restaurants-address-detial">주소 (지번)</label>
                                                    <div style="display: flex;">
                                                        <input type="text" class="form-control" id="restaurants-address-detial-jibun" placeholder="주소"  th:field="${shop.roadAddress}">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="restaurants-location-detial">찾아가는길(상세주소)</label>
                                                <input type="text" class="form-control" id="restaurants-location-detial" placeholder="찾아가는길" th:field="${shop.detailAddress}">
                                            </div>
                                            <div class="form-group">
                                                <label for="restaurants-location-detial">해시태그</label>
                                                <input type="text" class="form-control" id="restaurants-hashtag" placeholder="해시태그" th:field="${shop.tag}">
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="form-group">
                                                        <label for="restaurants-closed">맛집촌선택</label>
                                                        <div class="flex" style="display: block;">
                                                            <div class="custom-control custom-radio" id="shoptown" style="float: left;padding-right:15px;" th:each="infos : ${shopTownList}">
                                                                <input class="custom-control-input" th:id="${infos.listName}" th:value="${infos.id}"  type="checkbox" name="theme" th:field="${shop.villageTypeId}">
                                                                <label class="custom-control-label" th:for="${infos.listName}" th:text="${infos.listName}"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <!--                                                        <div class="form-group">-->
                                                        <label for="restaurants-closed">테마별</label>
                                                        <!--                                                        <p th:text="${payload[0].themeList}"></p>-->
                                                        <div class="flex" style="display: block;">
                                                            <div class="custom-control custom-radio" style="float: left;padding-right:15px;" th:object="${theme}" th:each="theme : ${themeTags}">
                                                                <input class="custom-control-input" th:id="${theme.listName}" th:value="${theme.listName}" type="checkbox" name="theme">
                                                                <label class="custom-control-label" th:for="${theme.listName}" th:text="${theme.listName}" > </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group" style="    padding-top: 40px;">
                                                   <label for="restaurants-location-detial">가게 이미지 추가</label>
                                                    <label for="restaurants-location-detial">가게 이미지 추가</label>
                                                    <div>
                                                       <div class="imgs_wrap">
                                                            <th:block th:each="num : ${#numbers.sequence(1,12)}">
                                                                <div style="display: inline-block; width: 155px;text-align: center">
                                                                    <img th:id="'thum'+${num}"  th:value="${num}" onerror="this.src='/images/default.png'" style="width: 150px;height: 120px; padding-top: 5px;  float: left;" src="/images/default.png">
                                                                    <br>
                                                                    <input th:value="${num}" name="files"  th:data="${num}" type="file" th:id="'input_imgs'+${num}" onchange="handleImgFileSelect(this)">
                                                                    <button th:value="${num}"  th:id="'uploadImage'+${num}" style="margin-top:5px;width: 35px;font-size: 10px;height: 20px;color: black;border: aliceblue 3px;">추가</button>
                                                                    <button th:onclick="'deleteImageAction(' + ${num} + '); return false;'" style="margin-top:5px;width: 35px;font-size: 10px;height: 20px;color: black;border: aliceblue 3px;">삭제</button>
                                                                </div>
                                                            </th:block>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 기본정보 Card END -->

                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">히스토리</h3>
                                        </div>
                                        <div class="card-body">
                                            <textarea id="summernote" th:field="${shop.history}" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 히스토리 Card END -->

                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">메뉴관리</h3>
                                        </div>
                                        <div class="card-body">
                                            <textarea class="summernote" th:field="${shop.menu}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 메뉴관리 Card END -->

                        </div>
                    </div>
                </form>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 맛집 주소검색 Modal팝업 -->
    <div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="address-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="address-modal-bael">맛집 주소검색</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="daum-map-container"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>


    <!-- Page level custom scripts -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/adminlte.js}"></script>
    <script th:src="@{/js/admin_commons.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script th:src="@{/js/manage-restaurants.js}"></script>

</body>

<style>
    .custom-select{
        font-size: 9px !important;
    }
    .form-control{
        font-size: 9px !important;
    }
    #preview{
        z-index: 9999;
        position:absolute;
        border:0px solid #ccc;
        background:#333;
        padding:1px;
        display:none;
        color:#fff;
    }
    .custom-select{
        font-size: 9px !important;
    }
    .form-control{
        font-size: 9px !important;
    }
    input[id^='input_imgs']{
        display: none;
    }
    table{
        table-layout: fixed;
        word-wrap:break-word;
    }
    .data_table {
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<script type="text/javascript">


    $(document).ready(function() {

        $('#shoptown input[type="checkbox"]').on('change', function() {
            $('#shoptown input[type="checkbox"]').not(this).prop('checked', false);
        });



        $('.summernote').summernote();
        var xOffset = 10;
        var yOffset = 30;
        $(document).on("mouseover",".thumbnail",function(e){ //마우스 오버시
            $("body").append("<p id='preview'><img src='"+ $(this).attr("src") +"' width='400px' /></p>"); //보여줄 이미지를 선언
            $("#preview")
                .css("top",(e.pageY - xOffset) + "px")
                .css("left",(e.pageX + yOffset) + "px")
                .fadeIn("fast"); //미리보기 화면 설정 셋팅
        });
        $(document).on("mousemove",".thumbnail",function(e){ //마우스 이동시
            $("#preview")
                .css("top",(e.pageY - xOffset) + "px")
                .css("left",(e.pageX + yOffset) + "px");
        });
        $(document).on("mouseout",".thumbnail",function(){ //마우스 아웃시
            $("#preview").remove();
        });

        $('#table-filter1').change( function(){
            get_category_info( this , "table-filter1"); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });

        $('#table-filter2').change( function(){
            get_category_info( this, "table-filter2" ); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });

        $('#table-filter4').change( function(){
            get_region_info( this, "table-filter4"); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });

        $('#table-filter5').change( function(){
            get_region_info( this, "table-filter5"); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });

        $('#table-filter7').change( function(){
            get_subway_info( this, "table-filter7"); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });

        $('#table-filter8').change( function(){
            get_subway_info( this, "table-filter8"); // 셀렉트 박스 선택이 바뀔때 "셀렉트박스 요소" 를 함수로 전달
        });



        function get_subway_info(o, type){
            var val = $( ':selected', o).val(); // 전달받은 "셀렉트박스 요소" 에서 선택된 것 찾기

            $.ajax({
                url:"/admin/epicure/subway_type/" + val,
                contentType: "application/json",
                dataType: "json",
                type:"GET",
            }).done(function (data) {
                var data = data.data;
                if(data.length > 0) {
                    if(type == "table-filter7") {
                        $("#table-filter8").find("option").remove().end();
                        $("#table-filter8").append("<option></option>");
                        $.each(data, function (key, value) {
                            $("#table-filter8").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                        });
                        console.log(data[0])
                    }else{
                        $("#table-filter9").find("option").remove().end();
                        $("#table-filter9").append("<option></option>");
                        $.each(data, function(key, value) {
                            $("#table-filter9").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                        });
                        console.log(data[0])
                    }
                } else {
                    if(type == "table-filter7") {
                        $("#table-filter8").find("option").remove().end().append("<option value=''></option>");
                        $("#table-filter8").find("option").remove().end();
                        $("#table-filter8").append("<option value=''></option>");
                        return;
                    }else{
                        $("#table-filter9").find("option").remove().end().append("<option value=''></option>");
                        $("#table-filter9").find("option").remove().end();
                        $("#table-filter9").append("<option value=''></option>");
                        return;
                    }
                }

            });

        }

        function get_region_info(o, type){
            var val = $( ':selected', o).val(); // 전달받은 "셀렉트박스 요소" 에서 선택된 것 찾기
            $.ajax({
                url:"/admin/epicure/area_type/" + val,
                contentType: "application/json",
                dataType: "json",
                type:"GET",
            }).done(function (data) {
                var data = data.data;
                if(data.length > 0) {
                    if(type == "table-filter4") {
                        $("#table-filter5").find("option").remove().end();
                        $("#table-filter5").append("<option></option>");
                        $.each(data, function (key, value) {
                            $("#table-filter5").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                        });
                        console.log(data[0])
                    }else{
                        $("#table-filter6").find("option").remove().end();
                        $("#table-filter6").append("<option></option>");
                        $.each(data, function(key, value) {
                            $("#table-filter6").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                        });
                        console.log(data[0])
                    }
                } else {
                    if(type == "table-filter4") {
                        $("#table-filter5").find("option").remove().end().append("<option value=''>NO DATA</option>");
                        $("#table-filter5").find("option").remove().end();
                        $("#table-filter5").append("<option value=''></option>");
                        return;
                    }else{
                        $("#table-filter6").find("option").remove().end().append("<option value='0>NO DATA</option>");
                        $("#table-filter6").find("option").remove().end();
                        $("#table-filter6").append("<option value=''></option>");
                        return;
                    }
                }

            });
        }
        function get_category_info(o, type){
            var val = $( ':selected', o).val(); // 전달받은 "셀렉트박스 요소" 에서 선택된 것 찾기
            console.log(val)
            if(val != ''){
                $.ajax({
                    type:"get",
                    url:"/admin/epicure/red_shop_type/" + val,
                    datatype: "json",
                    success: function(data) {
                        var data = data.data;
                        if(data.length > 0) {
                            if(type == "table-filter1") {
                                $("#table-filter2").find("option").remove().end();
                                $("#table-filter2").append("<option></option>");
                                $.each(data, function (key, value) {
                                    $("#table-filter2").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                                });
                            }else{
                                $("#table-filter3").find("option").remove().end();
                                $("#table-filter3").append("<option></option>");
                                $.each(data, function(key, value) {
                                    $("#table-filter3").append("<option value='" + value.id + "'>" + value.listName + "</option>");
                                });
                            }
                        } else {
                            if(type == "table-filter1") {
                                $("#table-filter2").find("option").remove().end().append("<option value=''></option>");
                                $("#table-filter3").find("option").remove().end();
                                $("#table-filter3").append("<option value=''></option>");
                                return;
                            }else {
                                $("#table-filter3").find("option").remove().end().append("<option value=''></option>");
                                // $("#table-filter3").find("option").remove().end();
                                // $("#table-filter3").append("<option value='0'>NO DATA</option>");
                                return;
                            }
                        }
                    },

                    error: function(x, o, e) {
                        var msg = "페이지 호출 중 에러 발생 \n" + x.status + " : " + o + " : " + e;
                        console.log(msg);
                    }
                });
            }else {
                if(type == "table-filter1") {
                    $("#table-filter2").find("option").remove().end();
                    $("#table-filter2").append("<option value=''></option>");
                    $("#table-filter3").find("option").remove().end();
                    $("#table-filter3").append("<option value=''></option>");
                }else{
                    $("#table-filter3").find("option").remove().end();
                    $("#table-filter3").append("<option value=''></option>");
                }
            }
        }


    } );


</script>
<script>

    function jbSubmit(){
        var validated1 = $('#background_type_1').is(':checked');
        var validated2 = $('#background_type_3').is(':checked');
        if(validated1 == false && validated2 == false){
            alert("배경 체크해주세요")
            return false;
        }else{
            return true;
        }
    }

    var sel_files =[];
    function fileUploadAction(){
        console.log("upload")
        $("#input_imgs").trigger('click')
    }

    function handleImgFileSelect(e){
        sel_files = [];
        // var target_select = ;
        // var target = target_select;
        var target_index = $('#'+e.id).attr('value');
        // console.log(target);
        // console.log(e)
        // console.log(target.data);
        var files= $('#'+e.id)[0].files;
        var filesArr = Array.prototype.slice.call(files);
        var index = 0;
        filesArr.forEach(function(f) {
            if(!f.type.match("image.*")){
                alert("확장자는 이미지확장자만 가능");
                return
            }
            sel_files.push(f);
            // console.log();
            var reader = new FileReader();
            reader.onload = function(e){
                // var img = new Image();
                // img.src = e[0].value;
                // if(img.width < 720 || img.height > 100) {
                //     alert("이미지 가로 720px, 세로 270px로 맞춰서 올려주세요.");
                // }else{
                //     var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(" + index +")\" id=\"img_id_"+index+"\"> <img style=\"width: 150px;height: 120px;padding-left: 10px;\" src=\"" + e.target.result + "\" data-file='"+f.name + "' class='selProductFile' title='click to remove'></a>";

                $('#thum' + target_index).attr('src', e.target.result)
                index++;
                // }
            }
            reader.readAsDataURL(f);
        })
    }
    function deleteImageAction(index){

        console.log('index' + index);
        sel_files.splice(index, 1);
        var img_id = "#thum"+index;
        $(img_id).attr('src', '/images/default.png')
        console.log(sel_files)
    }

    $('button[id^=\'uploadImage\']').click(function (e) {
        e.preventDefault();
        var id = e.target.value;
        $('#input_imgs'+id).click();

    });



    $("button[id^='uploa123dImage']").on("change", function(event) {
        console.log(event.currentTarget)
        var dictObject = {}
        const value = event.currentTarget.value;
        const name = event.currentTarget.innerText;
        console.log(name)
        if (tagList.indexOf(value) >= 0) {
            $('#table-filter3 option:eq(0)').prop('selected', true);
            return;
        }
        dictObject[value] = name;
        tagList.push(dictObject);
        renderTagList()
        $('#table-filter3 option:eq(0)').prop('selected', true);
    });




</script>
</html>