<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}" />
</head>
<body>
<div id="app">
  <div id="contents" class="detail-green">
    <div class="background-wrapper">
      <a href="javascript:history.back();" class="go-back">뒤로가기</a>
      <h1>
        <a href="#">
          <picture>
            <source srcset="/images/logo-detail@2x.png 2x">
            <a href="/"><img src="/images/logo-detail.png" alt="foodie"></a>
          </picture>
        </a>
      </h1>
      <div class="background-wrapper">
        <div class="background-wrapper">
          <!-- 실제 컨텐츠 영역 -->
          <div class="contents">
            <!-- header-restaurant START -->
            <div class="header-restaurant">
              <div class="left-area">
                <h2 th:text="${payload[0].shopName}"></h2>
                <div class="categories">
                  <span th:text="${payload[0].tag}"></span>
                </div>
              </div>

              <div class="right-area">
                <ul class="scores" th:style="${not #strings.isEmpty(payload[0].foodieLogRating)}? '':'border-right:solid 0px #e4e4e4;'">
                  <li th:text="${not #strings.isEmpty(payload[0].foodieLogRating)} ? '푸디로그 평점('+${payload[0].foodieLogRating}+')' : '푸디로그 평점(없음)'"></li>
                  <li th:text="${not #strings.isEmpty(payload[0].tasteRating)} ? '오감 평점('+${payload[0].tasteRating}+'점)' : '오감 평점(없음)'"></li>
                </ul>

                <th:block th:switch="${payload[0].foodieLogRating}">
                  <div class="star" th:case="A">
                    <picture>
                      <img src="/images/ico-detail-star-first.png">
                    </picture>
                  </div>
                  <div class="star" th:case="AA">
                    <picture>
                      <img src="/images/ico-detail-star-second.png">
                    </picture>
                  </div>
                  <div class="star" th:case="AAA">
                    <picture>
                      <img src="/images/ico-detail-star-third.png">
                    </picture>
                  </div>
                </th:block>

                <a href="#" class="btn-print">인쇄하기</a>
              </div>
            </div>
            <!-- header-restaurant END -->

            <!-- about-restaurant START -->
            <div class="about-restaurant">
              <img class="left-area" th:src="${payload[0].shopImage}">

              <div class="right-area">
                <dl>
                  <dt>주소</dt>
                  <dd th:text="${payload[0].address}"></dd>
                </dl>
                <dl class="line">
                  <dt>전화번호</dt>
                  <dd th:text="${payload[0].phone}"></dd>
                </dl>
                <dl class="line">
                  <dt>찾아가는 길</dt>
                  <dd th:text="${payload[0].detailAddress}"></dd>
                </dl>
                <dl>
                  <dt>영업시간</dt>
                  <dd th:text="${payload[0].operationTime}"></dd>
                </dl>
                <dl class="line">
                  <dt>휴무일</dt>
                  <dd th:text="${payload[0].holiday}"></dd>
                </dl>
                <dl>
                  <dt>추천메뉴</dt>
                  <dd th:text="${payload[0].recommandMenu}">닭구이</dd>
                </dl>
                <dl>
                  <dt>예약</dt>
                  <dd th:text="${payload[0].isReservation}"></dd>
                </dl>
                <dl>
                  <dt>주차장</dt>
                  <dd th:text="${payload[0].isParking}"></dd>
                </dl>
                <dl class="line">
                  <dt>예산</dt>
                  <dd th:text="${userRole}"></dd>
                </dl>
                <dl>
                  <dt>포장/배달</dt>
                  <dd th:text="${payload[0].isDelivery}"></dd>
                </dl>
                <dl>
                  <dt>홈페이지</dt>
                  <dd class="btn-dd">
                    <div class="util-btn-area">
                      <a href="javascript:void(0)" class="btn-sm btn-heart" onclick="addFavoriteShop()">찜하기</a>
                      <a href="javascript:void(0)" class="btn-sm btn-siren" onclick="inquiryBtn()">오류신고</a>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
            <!-- about-restaurant END -->

            <div class="detail-section hashtag-section">
              <th:block th:object="${tag}" th:each="tag : ${hashTags}">
                <a th:text="${tag.tagName}"></a>
              </th:block>
            </div>

            <!-- history-section START -->
            <div class="detail-section history-section">
              <div class="section-header">
                <h3>HISTORY</h3>
              </div>
              <div class="section-body" >

                <p th:if="${userRole} == 'GENERAL'">결제 후 정보 제공이 가능합니다.</p><br/>
                <p th:unless="${userRole} == 'GENERAL'"  th:text="${payload[0].history}"></p>
              </div>
            </div>
            <!-- history-section END -->
            <div class="ad-banner" style="width: 100%">
              <a href="#" class="btn-close"></a>
            </div>
            <!-- menu-section START -->
            <div class="detail-section menu-section" style="padding-top: 20px;">
              <div class="section-header">
                <h3>MENU</h3>
              </div>

              <div class="section-body">
                <div th:if="${userRole} == 'GENERAL'" style="padding-bottom: 20px;">
                  <p>결제 후 정보 제공이 가능합니다.</p>
                </div>
                <div th:unless="${userRole} == 'GENERAL'" class="image-thumbnails">
                  <div class="detail">
                    <!-- 이미지 추가 -->
                  </div>
                  <ul>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>
                  </ul>
                </div>

                <ul class="info">
                  <li>
                    <dl>
                      <dt>메뉴</dt>
                      <dd th:text="${payload[0].menu}"></dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>부가세</dt>
                      <dd></dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
            <!-- menu-section END -->

            <!-- map-section START -->
            <div class="detail-section map-section">
              <div class="section-header">
                <h3>MAP</h3>
                <ul>
                  <li class="naver"><a th:href="@{'https://pcmap.place.naver.com/restaurant/'+ ${payload[0].blogShopId} + '/review/ugc'}" target="_blank">블로그 리뷰 보기</a></li>
                  <li class="instagram"><a th:href="@{'https://www.instagram.com/explore/tags/'+ ${payload[0].instaKeyword}}" target="_blank">인스타 이미지 보기</a></li>
                </ul>
              </div>

              <div class="section-body">
                <div id="restaurant-map"></div>
                <div id="clickLatlng"></div>
              </div>
            </div>
            <!-- map-section END -->

            <div class="detail-section critique-section">
              <div class="section-header">
                <h3>CRITIQUE</h3>
                <span>- 나의 오감을 만족시켰는가?</span>
                <div class="score-info">
                  5.0 탁월 4.0 감동 3.0 좋음 2.0 평범 1.0 실망
                </div>
              </div>

              <div class="section-body">
                <div class="btn-score-area">
                  <a href="javascript:void(0)" class="point5" onclick="clickStarRating(5,0)"></a>
                  <a href="javascript:void(0)" class="point4" onclick="clickStarRating(4,1)"></a>
                  <a href="javascript:void(0)" class="point3" onclick="clickStarRating(3,2)"></a>
                  <a href="javascript:void(0)" class="point2" onclick="clickStarRating(2,3)"></a>
                  <a href="javascript:void(0)" class="point1" onclick="clickStarRating(1,4)"></a>
                </div>
                <input type="hidden" id="star-rating" value="0"/>

                <div class="commnet-form">
                  <textarea id="comment" cols="30" rows="10" placeholder="오감평가를 등록하고 포인트를 받아보세요."></textarea>
                  <a href="javascript:void(0)" class="btn btn-primary" onclick="addReview()">등록하기</a>
                </div>

                <ul class="comment-list">
                  <li th:each="item : ${reviews}" th:style="${item.bestComment == '1'?'background-color: #f2f6ff;':''}">
                    <th:block th:switch="${item.bestComment}">
                      <div class="li-div-best" th:case="1">
                        <div class="best-div">BEST</div>
                        <span class="user-id" th:text="${item.userName}"></span>
                      </div>
                      <div th:case="0">
                        <span class="user-id" th:text="${item.userName}"></span>
                      </div>
                    </th:block>

                    <th:block th:switch="${item.starRating}">
                      <span th:case="5" class="point point5"></span>
                      <span th:case="4" class="point point4"></span>
                      <span th:case="3" class="point point3"></span>
                      <span th:case="2" class="point point2"></span>
                      <span th:case="1" class="point point1"></span>
                    </th:block>
                    <div class="comment" th:text="${item.content}"></div>

                    <th:block th:switch="${item.bestComment}">
                      <a th:case="0" href="javascript:void(0)" class="delete-btn-detail"
                         th:style="${item.userId} == ${userId} ? 'display:block' : 'display:none'"
                         th:onclick="|javascript:deleteReview('${item.reviewId}')|">
                        삭제
                      </a>
                    </th:block>
                  </li>
                </ul>

                <div class="pagination">
                  <th:block th:if="${btnUrls.get('prev') != 'javascript:void(0)'}">
                    <a th:href="${btnUrls.get('prev')}" class="prev"></a>
                  </th:block>
                  <th:block th:if="${btnUrls.get('prev') == 'javascript:void(0)'}">
                    <div style="width: 20px"></div>
                  </th:block>
                  <a th:each="item : ${paginations}" th:href="${item.path}"
                     th:text="${item.idx}" th:class="${item.classValue}"></a>
                  <th:block th:if="${btnUrls.get('next') != 'javascript:void(0)'}">
                    <a th:href="${btnUrls.get('next')}" class="next"></a>
                  </th:block>
                  <th:block th:if="${btnUrls.get('next') == 'javascript:void(0)'}">
                    <div style="width: 20px"></div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
          <!-- 실제 컨텐츠 영역 END -->
        </div>
      </div>

      <!-- detail footer -->
      <div th:replace="./fragments/detail-footer.html"/>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript" th:src="@{/js/commons.js}"></script>
  <script type="text/javascript" th:src="@{/js/detail.js}"></script>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4c14aafa4e5ccfc24a35c501adea41eb&libraries=services"></script>
  <script th:inline="javascript">
    var mapContainer = document.getElementById('restaurant-map'), // 지도를 표시할 div
            mapOption = {
              center: new kakao.maps.LatLng(38.00994423, 126.9531742), // 지도의 중심좌표
              level: 6 // 지도의 확대 레벨 (레벨 클수록 축소)
            };

    var map = new kakao.maps.Map(mapContainer, mapOption);  // 지도를 생성합니다


    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    /*<![CDATA[*/

    var address_name = /*[[ ${payload[0].address} ]]*/;

    /*]]*/

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address_name, function(result, status) {

      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    });

    // 지도를 클릭한 위치에 표출할 마커입니다
    var marker = new kakao.maps.Marker({
      // 지도 중심좌표에 마커를 생성합니다
      position: map.getCenter()
    });
    // 지도에 마커를 표시합니다
    marker.setMap(map);

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

      // 클릭한 위도, 경도 정보를 가져옵니다
      var latlng = mouseEvent.latLng;

      // 마커 위치를 클릭한 위치로 옮깁니다
      marker.setPosition(latlng);

      var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
      message += '경도는 ' + latlng.getLng() + ' 입니다';

      var resultDiv = document.getElementById('clickLatlng');
      resultDiv.innerHTML = message;

    });

    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();

    // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
    // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
  </script>
</div>
</body>
</html>