<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">

    <title>Foodie</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/help.css}" />
</head>
<body>
<div id="app">

    <!-- header -->
    <div th:replace="./fragments/main-header.html :: type('default', 'height:114px;')"/>

    <!-- Contents -->
    <div id="contents">
        <div class="section-header-box">
            <h1 class="section-header-text">계정 정보 찾기</h1>
        </div>

        <div class="section-860">
            <ul class="nav-tabs2">
                <li class="active" attr=""><a href="/help/idInquiry" target="_self">이메일 찾기</a></li>
                <li><a href="/help/pwInquiry" target="_self">비밀번호 찾기</a></li>
            </ul>

            <div class="inner" id="tab">
                <div class="default-section" id="default-section1">
                    <p>등록한 이름과 휴대전화 번호로 이메일 찾기</p>
                    <ul class="util-menu">
                        <li>
                            <picture><img src="/images/ico-modal-check.png"/></picture>
                            <span>회원정보에 등록한 이름과 휴대전화 번호로 이메일을 찾으실 수 있습니다.</span>
                        </li>
                        <li>
                            <picture><img src="/images/ico-modal-check.png"/></picture>
                            <span>본인 확인 후 아래에서 이메일을 확인하실 수 있습니다.</span>
                        </li>
                    </ul>
                </div>

                <div id="default-section2">
                    <div class="form-table-help">
                        <div class="row">
                            <div class="col2">
                                <div class="th">이름</div>
                                <div class="td">
                                    <input type="text" id="user-name" name="user-name" oninput="oninputName()"/>
                                    <div class="error-next-box" id="error-name-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2">
                                <div class="th">휴대전화</div>
                                <div class="td">
                                    <input type="text" id="user-phone" name="phone-num" oninput="oninputPhone()" onblur="onblurPhone()"/>
                                    <div class="error-next-box" id="error-phone-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row-msg">
                            <div class="col">
                                <div class="error-inquiry-box" id="error-inquiry-msg" style="font-size: 13px; margin: 0 auto;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2">
                                <a class="btn btn-primary" onclick="onClickInquiryEmail()">이메일 찾기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="success-section" id="success-section">
                    <div class="form-table-help">
                        <div class="row">
                            <div class="col">
                                <p style="margin:0 auto;">고객님의 정보와 일치하는 이메일입니다.</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col">
                                <span class="success-text" id="success-text" style="margin: 0 auto; color: #9872ff;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="/auth/login" class="btn btn-primary" style="margin: 0 auto; width: 300px; height: 50px;">로그인하러 가기</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="/help/pwInquiry" class="btn btn-primary" style="margin: 5px auto;  width: 300px; height: 50px;">비밀번호 찾기</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="./fragments/main-footer.html"></div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/js/commons.js}"></script>
<script type="text/javascript" th:src="@{/js/help.js}"></script>
</body>
</html>