<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
  <div id="app">
    <!-- Contents -->
    <div id="contents">
      <div class="login-form">
        <h1>
          <a href="#">
            <picture>
              <source srcset="/images/logo-login@2x.png 2x">
              <img src="/images/logo-login.png" alt="foodie">
            </picture>
          </a>
        </h1>

        <form id="sign-in-form" action="/login" method="post">
          <div class="form-box">
            <input type="text" id="input-email" name="email" placeholder="E-mail"
                   oninput="oninputEmail()">
            <div class="error-next-box" id="email-msg"></div>
          </div>

          <div class="form-box">
            <input type="password" id="input-pswd" name="password" placeholder="PASSWORD"
                   oninput="oninputPswd()">
            <div class="error-next-box" id="pswd-msg"></div>
          </div>
          <div class="error-next-box" id="login-error-msg"></div>

          <div class="btn-area">
            <a class="btn btn-primary" onclick="checkFormBeforeLogin()">로그인</a>
          </div>

          <div class="login-util">
            <div class="check-logged-auto">
              <input type="checkbox" id="logged-auto">
              <label for="logged-auto">자동 로그인</label>
            </div>
            <a href="#">아이디/비밀번호 찾기</a>
          </div>
        </form>

        <dl class="sns-login-btn">
          <dt>간편로그인</dt>
          <dd>
            <a href="/oauth2/authorization/google" class="google">구글 로그인</a>
            <a href="" class="naver">네이버 로그인</a>
            <a href="/oauth2/authorization/kakao" class="kakao">카카오 로그인</a>
            <a href="#" class="facebook">페이스북 로그인</a>
          </dd>
        </dl>
      </div>
    </div>

    <!-- footer -->
    <div th:replace="/fragments/main-footer.html"></div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" th:src="@{/js/commons.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
  </div>
</body>
</html>
