<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
  <div id="app">
    <!-- Contents -->
    <div id="contents">
      <div class="login-form">
        <h1>
          <a href="/">
            <picture>
              <img src="/images/logo-red.png" alt="foodie">
            </picture>
          </a>
        </h1>

        <form id="sign-in-form" method="post">
          <div class="form-box">
            <input type="text" id="input-email" name="email" placeholder="E-mail"
                   oninput="oninputEmail()">
            <div class="error-next-box" id="email-msg"></div>
          </div>

          <div class="form-box">
            <input type="password" id="input-pswd" name="password" placeholder="PASSWORD"
                   oninput="oninputPswd()">
            <div class="error-next-box" id="pswd-msg"></div>
          </div>
          <div class="error-next-box" id="login-error-msg"></div>

          <div class="btn-area">
            <a class="btn btn-primary" onclick="checkFormBeforeLogin()">로그인</a>
          </div>
          <div class="login-util">
            <div class="check-logged-auto">
              <input type="checkbox" id="rememberMe" name="remember-me">
              <label for="rememberMe">자동 로그인</label>
            </div>
              <a href="/help/idInquiry">아이디/비밀번호 찾기</a>
          </div>
        </form>

        <dl class="sns-login-btn">
          <dt>간편로그인</dt>
          <dd style="text-align: center">
            <a href="/oauth2/authorization/google" class="google">구글 로그인</a>
            <a href="/oauth2/authorization/naver" class="naver">네이버 로그인</a>
            <a href="/oauth2/authorization/kakao" class="kakao">카카오 로그인</a>
          </dd>
        </dl>
      </div>
    </div>

    <!-- footer -->
    <footer id="footer">
      <div class="left-area">
        <div class="logo">
          <picture>
            <source srcset="/images/logo-footer@2x.png 2x">
            <img src="/images/logo-footer.png" alt="foodie">
          </picture>
        </div>
        <div class="copyright"><small>Copyright <span>® 네오비즈</span>All Rights Reserved.</small></div>
        <div class="company-info">
          <ul>
            <li>네오비즈설립일 : 2002년 12월 24일</li>
            <li>대표: 최유식</li>
            <li>개인정보책임자 : 박기향</li>
          </ul>
          <ul>
            <li>주소 : 경기도 고양시 일산서구 가좌1로10 512-1301</li>
            <li>사업자등록번호 : 210-09-30249통신판매업신고 : 제 959호</li>
            <li>문의 메일 : voom365@naver.com</li>
          </ul>
        </div>
      </div>
      <div class="right-area">
        <ul>
          <li><a href="/policy">개인정보 취급 방침</a></li>
          <li><a href="/user/inquiry/new">1:1 문의하기</a></li>
          <li><a href="/auth/login">로그인</a></li>
          <li><a href="/auth/join/user/1">회원가입</a></li>
          <li><a style="cursor: default">MY푸디 ® 네오비즈</a></li>
        </ul>
      </div>
    </footer>
    <!--footer-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" th:src="@{/js/commons.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
  </div>
</body>
</html>
