<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">


  <title>Foodie</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<div id="app">
  <!-- header -->
  <div th:replace="/fragments/main-header.html :: type('default', 'height:114px;')"/>

  <!-- Contents -->
  <div id="contents">
    <div class="main-banner">
      <img class="mySlides" src="../images/1@2x.png" style="width:auto;height:100%;">
      <img class="mySlides" src="../images/2@2x.png" style="width:auto;height:100%;">
      <img class="mySlides" src="../images/3@2x.png" style="width:auto;height:100%;">
<!--      <button class="w3-button w3-black w3-display-left" style="top: 57%;left: 10%;" onclick="plusDivs(-1)">&#10094;</button>-->
<!--      <button class="w3-button w3-black w3-display-right"style="top: 57%;right: 10%;" onclick="plusDivs(1)">&#10095;</button>-->
    </div>
    <!-- 주요지역 추천맛집 -->
    <div class="main-section recommend-restaurants1">
      <div class="inner">
        <div class="section-header">
          <h2>주요지역 추천맛집</h2>
          <h3>맛의 고장을 대표하는 맛집을 만나보세요.</h3>
        </div>

        <ul class="nav-tabs" id="mainRegion">
          <li class="active" id="seoul" onclick="changeRegionShopInfo('1', 'content1', 'mainRegion'); return false;">
            <a href="#">서울</a>
          </li>
<!--          <li class="active">-->
          <li onclick="changeRegionShopInfo('2', 'content1', 'mainRegion'); return false;">
            <a href="#">부산</a>
          </li>
          <li onclick="changeRegionShopInfo('3', 'content1', 'mainRegion'); return false;">
            <a href="#">강원</a>
          </li>
          <li onclick="changeRegionShopInfo('4', 'content1', 'mainRegion'); return false;">
            <a href="#">전남</a>
          </li>
          <li onclick="changeRegionShopInfo('5', 'content1', 'mainRegion'); return false;">
            <a href="#">제주</a>
          </li>
        </ul>
        <div id="content1">
        </div>
      </div>
    </div>
    <!-- 주요지역 추천맛집 END -->

    <!-- 기타지역 추천맛집 -->
    <div class="main-section recommend-restaurants2">
      <div class="inner">
        <div class="section-header">
          <h2>기타지역 추천맛집</h2>
          <h3>구석구석 특색 있는 맛집들을 만나보세요.</h3>
        </div>

        <ul class="nav-tabs" id="subRegion">
          <li  class="active"  id="gyeong" onclick="changeRegionShopInfo('6', 'content2', 'subRegion'); return false;">
            <a href="#">경기</a>
          </li>
          <li onclick="changeRegionShopInfo('7', 'content2', 'subRegion'); return false;">
            <a href="#">인천</a>
          </li>
          <li onclick="changeRegionShopInfo('8', 'content2', 'subRegion'); return false;">
            <a href="#">대전</a>
          </li>
          <li onclick="changeRegionShopInfo('9', 'content2', 'subRegion'); return false;">
            <a href="#">광주</a>
          </li>
          <li onclick="changeRegionShopInfo('10', 'content2', 'subRegion'); return false;">
            <a href="#">대구</a>
          </li>
          <li onclick="changeRegionShopInfo('11', 'content2', 'subRegion'); return false;">
            <a href="#">울산</a>
          </li>
          <li onclick="changeRegionShopInfo('12', 'content2', 'subRegion'); return false;">
            <a href="#">충남</a>
          </li>
          <li onclick="changeRegionShopInfo('13', 'content2', 'subRegion'); return false;">
            <a href="#">충북</a>
          </li>
          <li onclick="changeRegionShopInfo('14', 'content2', 'subRegion'); return false;">
            <a href="#">전북</a>
          </li>
          <li onclick="changeRegionShopInfo('15', 'content2', 'subRegion'); return false;">
            <a href="#">경북</a>
          </li>
          <li onclick="changeRegionShopInfo('16', 'content2', 'subRegion'); return false;">
            <a href="#">경남</a>
          </li>
          <li onclick="changeRegionShopInfo('17', 'content2', 'subRegion'); return false;">
            <a href="#">세종</a>
          </li>
        </ul>
        <div id="content2">
        </div>

      </div>

      <div class="ad-banner">
        <a href="#" class="btn-close"></a>
      </div>
    </div>
    <!-- 기타지역 추천맛집 END -->

    <!-- 추천 BEST 추천맛집 -->
    <div class="main-section recommend-restaurants3">
      <div class="inner">
        <div class="section-header">
          <h2>추천 BEST 추천맛집</h2>
          <h3>푸디에서 선정한 맛집과 여행지들을 만나보세요.</h3>
        </div>
      </div>

      <!-- 레드리스트 -->
      <div class="best-recommend-box">
        <div class="left-area" style="width: 268px">
          <img src="../images/1211@2x.png" style="width: 100%;    height: 590px;">
<!--          <h4>#레드리스트</h4>-->
<!--          <p>Foodie, 맛의 즐거움을<br/>공유하다.</p>-->
<!--          <div class="banner">-->

<!--          </div>-->
        </div>
        <div class="right-area" style="width: 938px;">
          <ul class="card-list-wrapper">
            <!-- Card item -->
            <li th:object="${shop}" th:each="shop : ${redCommentList}" style="margin:26px 8px 0">
              <a th:href="@{/shop/{shopId}(shopId=${shop.shopId})}">
                <div class="card-item" style="width: 302px">
                  <div class="img"></div>
                  <div class="card-data">
                    <div class="name">
                      <div th:text="${shop.shopName}"></div>
                      <div class="categories">
                        <span th:text="${shop.tag}">한식</span>
                      </div>
                    </div>
                    <ul class="info">
                      <li class="address" th:text="${shop.address}"></li>
<!--                      <li class="phone" th:text="${shop.phone}"></li>-->
<!--                      <li class="description" th:text="${#strings.abbreviate(shop.history,40)}">-->
                    </ul>
                    <th:block th:switch="${shop.foodieLogRating}">
                      <div th:case="A" class="star-first"></div>
                      <div th:case="AA" class="star-second"></div>
                      <div th:case="AAA" class="star-third"></div>
                    </th:block>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 레드리스트 END -->

      <!-- 그린리스트 -->
      <div class="best-recommend-box green">
        <div class="left-area"  style="width: 268px">
          <img src="../images/1212@2x.png" style="width: 100%;    height: 590px;">
<!--          <h4>#그린리스트</h4>-->
<!--          <p>산, 들, 바다 <br/>내안의 나를 힐링시키다.</p>-->
<!--          <div class="banner">-->

<!--          </div>-->
        </div>
        <div class="right-area" style="width: 938px;">
          <ul class="card-list-wrapper">
            <!-- Card item -->
            <li th:object="${shop}" th:each="shop : ${greenCommentList}" style="margin:26px 8px 0">
              <a th:href="@{/shop/{shopId}(shopId=${shop.shopId})}">
                <div class="card-item" style="width: 302px">
                  <div class="img"></div>
                  <div class="card-data">
                    <div class="name">
                      <div th:text="${shop.shopName}"></div>
                      <div class="categories">
                        <span th:text="${shop.tag}">한식</span>
                      </div>
                    </div>
                    <ul class="info">
                      <li class="address" th:text="${shop.address}"></li>
                      <!--                      <li class="phone" th:text="${shop.phone}"></li>-->
                      <!--                      <li class="description" th:text="${#strings.abbreviate(shop.history,40)}">-->
                    </ul>
                    <th:block th:switch="${shop.foodieLogRating}">
                      <div th:case="A" class="star-first"></div>
                      <div th:case="AA" class="star-second"></div>
                      <div th:case="AAA" class="star-third"></div>
                    </th:block>
                  </div>
                </div>
              </a>
            </li>
            <!-- Card item END -->
          </ul>
        </div>
      </div>
      <!-- 그린리스트 END -->

      <div class="ad-banner">
        <a href="#" class="btn-close"></a>
      </div>
    </div>
    <!-- 기타지역 추천맛집 END -->

  </div>
  <div class="foodie-illustration"></div>
  <!-- footer -->
  <div th:replace="./fragments/main-footer.html"></div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript" th:src="@{/js/commons.js}"></script>

  <script>
    window.onload = function () {
      // $('#gyeong').addClass('active');
      // $('#seoul').addClass('active');
      initialInfo('1', 'content1', 'mainRegion');
      initialInfo('6', 'content2', 'subRegion');
    }
    $(document).ready(function () {
      var slideIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
    })
    function changeRegionShopInfo(type, className, tagId){
      document.getElementById(className).innerHTML = ""
      $("#" + tagId + " > li").removeClass('active');
      // $("#mainRegion > ul > li").removeClass('active');
      event.target.parentElement.classList.add('active')
      $.ajax({
        url: "/main/region/" + type,
        type:"GET",
      }).done(function (fragment) {
        var ul = document.createElement('ul');
        ul.setAttribute('class','card-list-wrapper');

        document.getElementById(className).appendChild(ul);
        fragment.forEach(renderProductList);
        // class="active"
        function renderProductList(element, index, arr) {
          var li = document.createElement('li');
          ul.appendChild(li);

          var ratingClass="";
          switch (element.foodieLogRating) {
            case "A":
              ratingClass= "star-first";
              break;
            case "AA":
              ratingClass ="star-second";
              break;
            case "AAA":
              ratingClass = "star-third";
              break;
          }

          li.innerHTML= li.innerHTML
                  + "<a href='/shop/" + element.shopId +"'>"
                  +   "<div class=\"card-item\">"
                  +     "<div class=\"img\"></div>"
                  +     "<div class=\"card-data\">"
                  +     "<div class=\"name\">" + element.shopName
                  +       "<div class=\"categories\">"
                  +           "<span>" + element.tag + "</span>"
                  +       "</div>"
                  +     "</div>"
                  +     "<ul class=\"info\">"
                  +       "<li class=\"address\">" + element.address + "</li>"
                  +     "</ul>"
                  +     "<div class="+ratingClass+">"
                  +     "</div>"
                  +     "</div>"
                  +   "</div>"
                  + "</a>";

        }
      });
    }
    function initialInfo(type, className, tagId){
      document.getElementById(className).innerHTML = ""
      // $("#" + tagId + " > li").removeClass('active');
      // $("#mainRegion > ul > li").removeClass('active');
      $.ajax({
        url: "/main/region/" + type,
        type:"GET",
      }).done(function (fragment) {
        var ul = document.createElement('ul');
        ul.setAttribute('class','card-list-wrapper');

        document.getElementById(className).appendChild(ul);
        fragment.forEach(renderProductList);
        // class="active"
        function renderProductList(element, index, arr) {
          var li = document.createElement('li');
          ul.appendChild(li);

          var ratingClass="";
          switch (element.foodieLogRating) {
            case "A":
              ratingClass= "star-first";
              break;
            case "AA":
              ratingClass ="star-second";
              break;
            case "AAA":
              ratingClass = "star-third";
              break;
          }

          li.innerHTML= li.innerHTML
                  + "<a href='/shop/" + element.shopId +"'>"
                  +   "<div class=\"card-item\">"
                  +     "<div class=\"img\"></div>"
                  +     "<div class=\"card-data\">"
                  +     "<div class=\"name\">" + element.shopName
                  +       "<div class=\"categories\">"
                  +           "<span>" + element.tag + "</span>"
                  +       "</div>"
                  +     "</div>"
                  +     "<ul class=\"info\">"
                  +       "<li class=\"address\">" + element.address + "</li>"
                  +     "</ul>"
                  +     "<div class="+ratingClass+">"
                  +     "</div>"
                  +     "</div>"
                  +   "</div>"
                  + "</a>";

        }
      });
    }

  </script>
</div>
</body>
</html>
