<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}" />
</head>
<body>
<div id="app">
  <!-- header -->
  <div th:include="fragments/main-header.html"></div>
    
    <!-- Contents -->
    <div id="contents">
      <h2>MY PAGE</h2>
      <div class="section-860">
        <ul class="nav-tabs2">
          <li><a href="/user/info">로그인 정보</a></li>
          <li><a href="/user/favorite">찜한 목록</a></li>
          <li><a href="/user/review">내가쓴글</a></li>
          <li class="active"><a href="">프리미엄회원</a></li>
        </ul>

        <div class="inner">
          <div class="section1">
            <h3>프리미엄 회원</h3>
            <ul class="benefits">
              <li>광고 없는 푸디 이용가능.</li>
              <li>전문가 평가, 큐레이션 등 미식정보 열람.</li>
              <li>이벤트, 행사 우선권 부여.</li>
            </ul>
          </div>
          
          <div class="section2">
            <h3>STEP1. 이용권 선택</h3>
            <ul class="premium-products">
              <li class="coupon-30 active">
                <a href="#">
                  <div class="title">30일 이용권</div>
                  <div class="desc"><span>이용요금 3300원</span></div>
                </a>
              </li>
              <li class="coupon-90 active">
                <a href="#">
                  <div class="title">90일 이용권</div>
                  <div class="desc"><span>이용요금 6600원</span></div>
                </a>
              </li>
              <li class="coupon-365 active">
                <a href="#">
                  <div class="title">365일 이용권</div>
                  <div class="desc"><span>이용요금 9900원</span></div>
                </a>
              </li>
            </ul>
          </div>

          <div class="section3">
            <h3>STEP2. 결제수단 선택</h3>

            <div class="payments">
              <dl class="default-payment">
                <dt>일반결제</dt>
                <dd>
                  <a href="#">신용카드 결제</a>
                  <a href="#">무통장 입금</a>
                  <a href="#">휴대폰 결제</a>
                  <a href="#">포인트 결제</a>
                </dd>
              </dl>

              <dl class="simple-payment">
                <dt>간편결제</dt>
                <dd>
                  <a href="#">
                    <picture>
                      <source srcset="/images/btn-naverpay@2x.png 2x">
                      <img src="/images/btn-naverpay.png" alt="네이버페이">
                    </picture>
                  </a>
                  <a href="#">
                    <picture>
                      <source srcset="/images/btn-kakaopay@2x.png 2x">
                      <img src="/images/btn-kakaopay.png" alt="카카오페이">
                    </picture>
                  </a>
                </dd>
              </dl>
            </div>

            <div class="bank-transfer">
              <p>입금하실 분의 성명과 연락처를 정확하게 기재해주세요.</p>
              <div class="form-table">
                <div class="row">
                  <div class="th">이름</div>
                  <div class="td">
                    <input type="text" name="user_name">
                    <span class="err">*입력하신 성명과 실제 입금자과 다를시 결제 승인에 어려움이 있습니다.</span>
                  </div>
                </div>
                <div class="row">
                  <div class="th">연락처</div>
                  <div class="td">
                    <input type="text" name="user_modile">
                  </div>
                </div>

                <div class="row">
                  <div class="th">이메일</div>
                  <div class="td">
                    <input type="text" name="user_email">
                  </div>
                </div>
              </div>
              <div class="noti">입금계좌 - 국민은행 354602-04-043865 박기향</div>
            </div>
          </div>

          <div class="btn-area">
            <a href="#" class="btn btn-primary">결제하기</a>
          </div>
        </div> 
      </div>
    </div>

    <!-- footer -->
    <div th:replace="/fragments/main-footer.html"></div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" th:src="@{/js/commons.js}"></script>
    <script type="text/javascript" th:src="@{/js/mypage.js}"></script>
  </div>
</body>
</html>