<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}" />
</head>
<body>
<div id="app">
  <!-- header -->
  <div th:include="fragments/main-header.html"></div>
    
    <!-- Contents -->
    <div id="contents">
      <h2>MY PAGE</h2>
      <div class="section-860">
        <ul class="nav-tabs2">
          <li><a href="/user/info">로그인 정보</a></li>
          <li class="active"><a href="">찜한 목록</a></li>
          <li><a href="/user/review">내가쓴글</a></li>
          <li><a href="/user/pay">프리미엄회원</a></li>
        </ul>

        <div class="inner">
          <div class="title-group">
            <h3>찜한 맛집 목록 <span th:text="${size}"/></h3>
            <a href="javascript:void(0)" class="remove-all" onclick="displayDeleteAllPopUp()">전체삭제</a>
          </div>
          
          <ul class="likes-list" th:each="item : ${favoriteShops}">
            <li>
              <a th:href="@{'/shop/'+${item.shopId}}">
                <div class="card-item">
                  <div class="img"></div>
                  <div class="card-data">
                    <input type="hidden" id="shopId" th:value="${item.shopId}"/>
                    <div class="name" th:text="${item.shopName}">
                    </div>
                    <div class="categories">
                      <span class="categories-span" th:text="${item.tag}"></span>
                    </div>
                    <ul class="info">
                      <li class="address" th:text="${item.address}"/>
                      <li class="phone" th:text="${item.phone}"/>
                      <li class="description" th:text="${item.history}"/>
                    </ul>
                    <a href="javascript:void(0)" class="btn-remove"
                       th:onclick="|javascript:deleteFavoriteItem('${item.shopId}')|">
                      목록에서 삭제
                    </a>
                  </div>
                </div>
              </a>
            </li>
          </ul>

          <div class="pagination">
            <a th:href="${btnUrls.get('prev')}" class="prev"></a>
            <a th:each="item : ${paginations}" th:href="${item.path}"
               th:text="${item.idx}" th:class="${item.classValue}"></a>
            <a th:href="${btnUrls.get('next')}" class="next"></a>
          </div>
        </div>
      </div>
    </div>

  <!--modal delete all-->
  <div class="modal-popup" id="all-delete-modal" style="display: none">
    <div class="modal-backdrop"></div>
    <div class="modal-body">
      <div class="icon">
        <picture>
          <source srcset="/images/ico-modal-exmark@2x.png 2x">
          <img src="/images/ico-modal-exmark.png" alt="">
        </picture>
      </div>
      <div class="message">
        전체 삭제시 <strong th:text="${size}"></strong>개의 맛집목록이 사라집니다.<br/>
        삭제하시겠습니까?
      </div>

      <div class="btn-area">
        <a href="javascript:void(0)" class="btn btn-primary" onclick="deleteAll(1)">삭제하기</a>
        <a href="javascript:void(0)" class="btn btn-disabled" onclick="hideDeleteAllPopUp()">돌아가기</a>
      </div>
    </div>
  </div>

    <!-- footer -->
    <div th:replace="/fragments/main-footer.html"></div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" th:src="@{/js/commons.js}"></script>
    <script type="text/javascript" th:src="@{/js/mypage.js}"></script>
  </div>
</body>
</html>