<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">

  <title>Foodie</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/submain.css}" />
</head>
<body>
  <div id="app">

    <!-- header -->
    <div th:replace="./fragments/main-header.html :: type('header-red', '')"/>

    <!-- Contents -->
    <div id="contents">
      <div class="main-banner">
        <img class="mySlides" src="/images/invalid-name@2x.png" style="width: auto;height: 100%;">
      </div>

      <!-- 주요지역 추천맛집 -->
      <div class="main-section">
        <div class="inner">
          <div class="filter-header">
            <div class="left-area">
              <div class="addr-info">
                <span th:text="${regionInfo[0].getProvinceName()}"></span>
                <span th:text="${regionInfo[0].getDistrictName()}"></span>
              </div>

              <ul class="menu-link">
                <li class="tab-red">
                  <!--                    <span th:text="${location}"></span>-->
                  <a id="red" th:href="@{/shop/region/{regionId}/red(regionId=${regionInfo[0].regionId})}">레드 리스트</a>
                </li>
                <li class="tab-green">
                  <a id="blue" th:href="@{/shop/region/{regionId}/green(regionId=${regionInfo[0].regionId})}" class="active">그린 리스트</a>
                </li>
              </ul>
            </div>

            <div class="right-area">
              <div class="filter-wrapper">
                <a href="#" class="filter-btn">필터설정</a>
                <div class="filter-body-layer">
                  <p>나의 상황에 맞는 필터를 선택해보세요.</p>
                  <ul>
                    <li><a href="#">24시간 </a></li>
                    <li><a href="#">채식주의자</a></li>
                    <li><a href="#">프로포즈</a></li>
                    <li><a href="#">외국인</a></li>
                    <li><a href="#">분위기</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- filter-header END -->

          <ul class="card-list-wrapper">
            <!-- Card item -->
            <li th:object="${shop}" th:each="shop : ${priority}">
              <a th:href="@{'/shop/'+${shop.shopId}}">
                <div class="card-item">
                  <div class="img"></div>
                  <div class="card-data">
                    <div class="name">
                      <div th:text="${shop.shopName}"></div>
                      <div class="categories">
                        <span th:text="${shop.tag}"></span>
                      </div>
                    </div>
                    <ul class="info">
                      <li class="address" th:text="${shop.address}"></li>
                      <li class="phone" th:text="${shop.phone}"></li>
                      <li class="description" th:text="${#strings.abbreviate(shop.history,40)}">
                      </li>
                    </ul>
                    <th:block th:switch="${shop.foodieLogRating}">
                      <div th:case="A" class="star-first"><img src="../images/ico-star-first.png" class="star-box"></div>
                      <div th:case="AA" class="star-second"><img src="../images/ico-star-second.png" class="star-box"></div>
                      <div th:case="AAA" class="star-third"><img src="../images/ico-star-third.png" class="star-box"></div>
                    </th:block>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 주요지역 추천맛집 END -->

      <div class="ad-banner ad-banner1">
        <a href="#" class="btn-close"></a>
      </div>

      <div class="list-section">
        <div class="left-area">
          <ul>
            <li th:object="${shop}" th:each="shop : ${payload}">
              <a th:href="@{'/shop/'+${shop.shopId}}">
                <div class="card-item">
                  <div class="img"></div>
                  <div class="card-data">
                    <div class="name">
                      <div th:text="${shop.shopName}"></div>
                      <div class="categories">
                        <span th:text="${shop.tag}">한식</span>
                      </div>
                    </div>
                    <ul class="info">
                      <li class="address" th:text="${shop.address}"></li>
                      <li class="phone" th:text="${shop.phone}"></li>
                      <li class="description" th:text="${#strings.abbreviate(shop.history,40)}">
                    </ul>
                    <th:block th:switch="${shop.foodieLogRating}">
                      <div th:case="A" class="star-first"><img src="../images/ico-star-first.png" class="star-box"></div>
                      <div th:case="AA" class="star-second"><img src="../images/ico-star-second.png" class="star-box"></div>
                      <div th:case="AAA" class="star-third"><img src="../images/ico-star-third.png" class="star-box"></div>
                    </th:block>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="right-area">
          <dl th:object="${shop}" th:each="shop : ${sidePriority}">
            <a th:href="@{'/shop/'+${shop.shopId}}">
              <dt style="    padding-bottom: 27px;">
                <div class="info">
                  <span class="name" th:text="${shop.shopName}"></span>
                </div>
                <div style="float: right;color: #c73425;font-size: 15px;">
                  <span class="name">한식 | 한정식</span>
                </div>
              </dt>
              <dd>
                <div class="info">
                  <span style="float:left" class="address" th:text="${shop.address}"></span>
                </div>
                <div class="img"></div>
              </dd>
            </a>
          </dl>
        </div>
      </div>

      <div class="pagination">
        <a th:href="${btnUrls.get('prev')}" class="prev"></a>
        <a th:each="item : ${paginations}" th:href="${item.path}"
           th:text="${item.idx}" th:class="${item.classValue}"></a>
        <a th:href="${btnUrls.get('next')}" class="next"></a>
      </div>

      <div class="ad-banner ad-banner2">
        <a href="#" class="btn-close"></a>
      </div>
      
    </div>
    <div class="foodie-illustration"></div>

    <!-- footer -->
    <div th:replace="./fragments/main-footer.html"></div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" th:src="@{/js/commons.js}"></script>
    <!--added header name to change-->
    <script>document.getElementById("header").className = "header-red";</script>
    <style>
      .list-section .right-area dl dt .info .name::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
        width: 3px;
        height: 12px;
        background: #ff5c17;
      }
      .list-section .right-area dl dt .info .name {
        float: left;
        padding-left: 8px;
      }

      .list-section .right-area dl dt .info span {
        position: relative;
        display: inline-block;
        /*font-size: 14px;*/
        color: #000;
      }
      .list-section .right-area dl dd .info .address {
        float: right;
        padding-left: 18px;
        background: url("/images/ico-sm-map.png") 0 -1px no-repeat;
      }
    </style>
  </div>
</body>
</html>