.clear::after{
    content:"";
    visibility:hidden;
    display:block;
    clear:both
}
.pseudo-init{
    content:"";
    display:block
}
.main-banner{
    width:100%;
    height:537px;
    margin-bottom:76px;
    background:#ddd
}
.main-section{
    width:1184px;
    position:relative;
    margin:0 auto 36px;
    padding-bottom:64px;
    border-bottom:1px solid #d6d6d6
}
.main-section .inner{
    margin:0 auto;
    position:relative
}
.main-section .section-header{
    overflow:hidden
}
.main-section .section-header::before{
    content:"";
    display:block;
    position:absolute
}
.main-section .section-header>*{
    float:left
}
.main-section .section-header h2{
    font-size:26px;
    font-weight:500;
    color:#000;
    padding-left: 70px;
}
.main-section .section-header h3{
    margin-left:16px;
    font-size:22px;
    color:#707070
}
.main-section .nav-tabs{
    margin-top:25px;
    overflow:hidden
}
.main-section .nav-tabs li{
    width:124px;
    height:48px;
    float:left;
    border:1px solid #d3d3d3;
    border-right-width:0
}
.main-section .nav-tabs li:last-child{
    border-right-width:1px
}
.main-section .nav-tabs li.active a{
    color:#fff;
    background:#ff571a
}
.main-section .nav-tabs li a{
    width:100%;
    height:48px;
    line-height:48px;
    display:block;
    font-size:17px;
    color:#000;
    text-align:center
}
.main-section .card-list-wrapper{
    margin-top:16px;
}
.main-section .card-list-wrapper>li{
    width: 288px;
    height: 292px;
    float: left;
    margin: 0 2px 25px;
    /* padding-bottom: 6px; */
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 2.5px;
}
.main-section .card-list-wrapper>li:hover{
    border-color:#ff662e
}
.main-section .card-list-wrapper .card-item{
    width:284px
}
.main-section .card-list-wrapper .card-item .img{
    width: 284px;
    height: 215px;
    background: #eee;
}
.main-section .card-list-wrapper .card-item .card-data{
    position:relative;
    box-sizing:border-box;
    padding:14px 16px
}
.main-section .card-list-wrapper .card-item .card-data .name{
    margin-bottom:0px
}
.main-section .card-list-wrapper .card-item .card-data .name .categories{
    margin-top:0px
}
.main-section .card-list-wrapper .card-item .card-data .star{
    position:absolute;
    top:16px;
    right:10px
}
.main-section .card-list-wrapper::after{
    content:"";
    display:block;
    clear:both
}
.main-section.recommend-restaurants1 .section-header::before{
    width:63px;
    height:59px;
    background:url(/images/ico-main-recommend.png) 0 0 no-repeat;
    top:-33px;
}
.main-section.recommend-restaurants2 .section-header::before{
    width:60px;
    height:46px;
    background:url(/images/ico-main-recommend2.png) 0 0 no-repeat;
    top:-7px;
}
.main-section.recommend-restaurants2 .ad-banner{
    margin-top:76px
}
.main-section.recommend-restaurants2 .nav-tabs{
    width:870px
}
.main-section.recommend-restaurants2 .nav-tabs li{
    width:131px;
    height:41px;
    margin:0 11px 9px 0;
    border-right-width:1px
}
.main-section.recommend-restaurants2 .nav-tabs li.active{
    border-color:#0086b7
}
.main-section.recommend-restaurants2 .nav-tabs li.active a{
    background:#0086b7
}
.main-section.recommend-restaurants2 .nav-tabs li a{
    height:41px;
    line-height:41px
}
.main-section.recommend-restaurants3{
    width:1184px;
    padding-top:30px;
    border-width:0
}
.main-section.recommend-restaurants3 .section-header{
    margin-bottom:33px
}
.main-section.recommend-restaurants3 .section-header::before{
    width:75px;
    height:64px;
    background:url(/images/ico-main-best.png) 0 0 no-repeat;
    top:-34px;
}
.main-section .best-recommend-box{
    padding:19px 0 26px;
    border-top:3px solid #ff4e0d
}
.main-section .best-recommend-box.green{
    border-top-color:#00b786
}
.main-section .best-recommend-box.green .left-area h4{
    color:#00b786
}
.main-section .best-recommend-box .left-area{
    width:256px;
    float:left;
    padding-top:8px
}
.main-section .best-recommend-box .left-area h4{
    padding-left:22px;
    margin-bottom:10px;
    font-size:28px;
    font-weight:500;
    text-align:left;
    color:#ff571a
}
.main-section .best-recommend-box .left-area p{
    padding-left:22px;
    margin-bottom:10px;
    font-size:21px;
    line-height:1.19;
    text-align:left;
    color:#707070
}
.main-section .best-recommend-box .left-area .banner{
    width:256px;
    height:482px;
    margin:18px 22px 4px 0;
    background-color:#efefef
}
.main-section .best-recommend-box .right-area{
    width:916px;
    float:right
}
.main-section .best-recommend-box .right-area .card-list-wrapper{
    width:100%;
    position:relative;
    top:-34px
}
.main-section .best-recommend-box .right-area .card-list-wrapper>li{
    width:284px;
    padding:0;
    border-width:0;
    margin:26px 16px 0
}
.main-section .best-recommend-box .right-area .card-list-wrapper .card-item{
    width:319px
}
.main-section .best-recommend-box .right-area .card-list-wrapper .card-item .img{
}
.main-section .best-recommend-box::after{
    content:"";
    display:block;
    clear:both
}
#footer{
    padding:80px 50px 52px;
    background:#ededed
}

.mobile-main-banner-small {
    display: none;
}

/* #app.mobile-main */
.mobile-main {
    height: 100% !important;
}
.mobile-main .active-mobile-nav {
    height: 100% !important;
    overflow: hidden;
    position: fixed !important;
    z-index: 9999;
}
.mobile-main .active-mobile-nav::-webkit-scrollbar {
    display: none;
}
.mobile-main .active-mobile-nav .inner-wrapper {
    background: #ff7c2f;
}
#header .inner-wrapper .mobile-main-btn {
    display: none;
}
.mobile-main .active-mobile-nav .inner-wrapper .mobile-main-btn {
    display: block !important;
    background: url(/images/ico-mobile-back-button.png) 0/contain no-repeat;
    position: absolute;
    left: 5%;
    top: 50%;
    width: 10px;
    height: 18px;
    transform: translateY(-50%);
}
.mobile-main .active-mobile-nav h1 {
    background: url(/images/logo-white.png) center/50% no-repeat !important;
}
.mobile-main .active-mobile-nav .util-menu {
    display: none;
}

.mobile-main .active-mobile-nav .global-nav {
    top: 57px;
    background: #fcfcfc;
    height: auto !important;
    padding: 0;
}
.mobile-main .active-mobile-nav .global-nav .inner {
    width: 100%;
    margin: 0 auto;
}
.mobile-main .active-mobile-nav .global-nav .inner::before {
    display: none;
}
.mobile-main .active-mobile-nav .global-nav .side-menu {
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    background: #fff;
}
.mobile-main .active-mobile-nav .global-nav .side-menu li {
    margin-right: 0 !important;
    background: none !important;
    border-radius: 0;
    box-shadow: none;
    width: 33%;
    height: 40px;
    color: #898989;
}
.mobile-main .active-mobile-nav .global-nav .side-menu li.active a {
    color: #ff7c2f;
}
.mobile-main .active-mobile-nav .global-nav .side-menu li.active a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    border-bottom: 4px solid #ff7c2f;
    width: 42px;
}
.mobile-main .active-mobile-nav .global-nav .gnb-contents {
    width: 100%;
    height: auto;
    padding: 0;
    float: none;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div {
    position: relative;
}
.mobile-main .active-mobile-nav #top-menu-div,
.mobile-main .active-mobile-nav .top-menu {
    position: relative;
}
.mobile-main .active-mobile-nav .view-more-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    z-index: 1;
}
.mobile-main .active-mobile-nav .view-more-menu::before {
    content: '';
    display: block;
    background: #e0e0e0;
    width: 33px;
    height: 5px;
    border-radius: 4px;
}

.mobile-main .active-mobile-nav .global-nav #top-menu-div,
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type {
    padding: 5% 7%;
    width: 100%;
    height: 115px !important;
    background: #f7f7f7;
    overflow: hidden;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu {
    width: 100%;
    height: auto;
    padding-left: 0;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu li,
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type li {
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    margin: 0 10px 10px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 10%);
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu li:nth-of-type(5n),
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type li:nth-of-type(5n) {
    margin: 0 0 10px 0;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu li.active,
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type li.active {
    background: #ff7c2f;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu li.active::after,
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type li.active::after {
    display: none;
}
.mobile-main .active-mobile-nav .global-nav #top-menu-div .top-menu li.active a,
.mobile-main .active-mobile-nav .global-nav .gnb-contents > .top-menu:first-of-type li.active a {
    color: #fff;
}
.mobile-main .active-mobile-nav .global-nav #regionDetailContent1 {
    height: 80vh !important;
}
.mobile-main .active-mobile-nav .global-nav #regionDetailContent1 .item-list-wrapper {
    padding: 0;
}
.mobile-main .active-mobile-nav .global-nav #regionDetailContent1 .item-list-wrapper li {
    width: 100%;
    float: none;
    margin-bottom: 0;
    margin-right: 0;
    height: 60px;
    border-bottom: 1px solid #ededed;
    display: flex;
    align-items: center;
    background: none;
}
.mobile-main .active-mobile-nav .global-nav #regionDetailContent1 .item-list-wrapper li a,
.mobile-main .active-mobile-nav .global-nav .gnb-contents .top-menu:not(:first-of-type) li a {
    font-size: 15px !important;
}

.mobile-main .active-mobile-nav .global-nav .gnb-contents .top-menu:not(:first-of-type) {
    height: auto !important;
    width: 34%;
}
.mobile-main .active-mobile-nav .global-nav .gnb-contents .top-menu:not(:first-of-type) li {
    float: none;
    display: flex;
    align-items: center;
    padding-right: 0;
    height: 60px;
    border-bottom: 1px solid #ededed;
}

.mobile-main .main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 183px;
}
.mobile-main .main-banner > img {
    width: 329px !important;
    border-radius: 10px;
}

.mobile-main .mobile-main-banner-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 47px;
    margin: 0 18px 50px;
    /*background: #ffe489;*/
    background: url(/images/bg-mobile-point.png) center/auto no-repeat;
    border-radius: 6px;
    padding-left: 20px;
    color: #ff9933;
    font-size: 13px;
    font-weight: bold;
}

.mobile-main #contents {
    background: #fcfcfc;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
}

.mobile-main .foodie-illustration {
    display: none;
}

.mobile-main #footer {
    padding: 0 18px 93px;
    width: 100%;
    background: #fff;
}
.mobile-main #footer > div {
    width: 100%;
}
.mobile-main #footer .left-area .copyright {
    margin-bottom: 28px;
}
.mobile-main #footer .left-area .company-info {
    padding-left: 0;
    border-left: none;
}
.mobile-main #footer .left-area .company-info ul {
    float: none;
    margin-right: 0;
}
.mobile-main #footer .left-area .company-info ul:first-of-type {
    margin-bottom: 6px;
}
.mobile-main #footer .right-area {
    display: none;
}


.mobile-main .recommend-restaurants2,
.mobile-main .recommend-restaurants3,
.mobile-main .recommend-restaurants1 .section-header::before,
.mobile-main .recommend-restaurants1 .section-header h3,
.mobile-main .recommend-restaurants1 .nav-tabs {
    display: none;
}
.mobile-main .recommend-restaurants1 {
    width: 100%;
    padding-bottom: 40px;
}
.mobile-main .recommend-restaurants1 .section-header h2 {
    padding-left: 18px;
    font-size: 0;
}
.mobile-main .recommend-restaurants1 .section-header h2:before {
    content: '내 주변 맛집은?';
    font-size: 19px;
    font-weight: bold;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper {
    padding: 0 18px;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper>li {
    float: left;
    width: 47.4%;
    height: auto;
    margin: 0 16px 25px 0;
    border: none;
    border-radius: 0;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper>li:nth-of-type(2n) {
    float: right;
    margin: 0 0 25px 0;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item,
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .img {
    width: 100%;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item {
    box-shadow: none;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .img {
    height: 115px;
    border-radius: 5px;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .card-data {
    padding: 14px 0;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .card-data .name {
    font-size: 15px;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .card-data .name .hide-text-1 {
    width: 65%;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .card-data .name .categories {
    font-size: 12px;
}
.mobile-main .recommend-restaurants1 .card-list-wrapper .card-item .info li.address {
    width: 100%;
}
.mobile-main .recommend-restaurants1 .star-position {
    width: 45px;
    height: 16px;
}
.mobile-main .recommend-restaurants1 .star-position .star-box {
    height: 100%;
}

#bottom-menubar {
    display: none;
}
.mobile-main #bottom-menubar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: 1px 0 5px 1px rgb(0 0 0 / 10%);
}
.mobile-main #bottom-menubar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.mobile-main #bottom-menubar ul li {
    display: flex;
    align-items: flex-end;
    width: 20%;
    height: 100%;
    padding: 10px 0;
}
.mobile-main #bottom-menubar ul li a {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: #a0a0a0;
}
.mobile-main #bottom-menubar ul li:nth-of-type(1) {
    background: url(/images/ico-mobile-home.png) center 27%/33% no-repeat;
}
.mobile-main #bottom-menubar ul li:nth-of-type(2) {
    position: relative;
}
.mobile-main #bottom-menubar ul li:nth-of-type(2):before,
.mobile-main #bottom-menubar ul li:nth-of-type(2):after {
    content: '';
    position: absolute;
    border: 1px solid #a0a0a0;
}
.mobile-main #bottom-menubar ul li:nth-of-type(2):before {
    top: 21%;
    left: 47%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 17px;
    height: 17px;
}
.mobile-main #bottom-menubar ul li:nth-of-type(2):after {
    top: 27px;
    left: 43px;
    width: 0.3px;
    height: 9px;
    transform: rotate(-45deg);
    background: #a0a0a0;
    border: none;
}
.mobile-main #bottom-menubar ul li:nth-of-type(3) {
    background: url(/images/ico-mobile-mylocation.png) center 30%/30% no-repeat;
}
.mobile-main #bottom-menubar ul li:nth-of-type(4) {
    background: url(/images/ico-mobile-mypage.png) center 31%/27% no-repeat;
}
.mobile-main #bottom-menubar ul li:nth-of-type(5) {
    background: url(/images/ico-mobile-wish.png) center 33%/22% no-repeat;
}

/* 반응형 - 미디어쿼리 */
@media all and (max-width:480px){
    html, body {
        overflow-x: hidden;
        height: 100vh !important;
    }
}
