.clear::after{
    content:"";
    visibility:hidden;
    display:block;
    clear:both
}
.pseudo-init{
    content:"";
    display:block
}
.main-banner{
    width:100%;
    height:537px;
    margin-bottom:76px;
    background:#ddd
}
.main-section{
    width:1184px;
    position:relative;
    margin:0 auto 36px;
    padding-bottom:64px;
    border-bottom:1px solid #d6d6d6
}
.main-section .inner{
    margin:0 auto;
    position:relative
}
.main-section .section-header{
    overflow:hidden
}
.main-section .section-header::before{
    content:"";
    display:block;
    position:absolute
}
.main-section .section-header>*{
    float:left
}
.main-section .section-header h2{
    font-size:26px;
    font-weight:500;
    color:#000;
    padding-left: 70px;
}
.main-section .section-header h3{
    margin-left:16px;
    font-size:22px;
    color:#707070
}
.main-section .nav-tabs{
    margin-top:25px;
    overflow:hidden
}
.main-section .nav-tabs li{
    width:124px;
    height:48px;
    float:left;
    border:1px solid #d3d3d3;
    border-right-width:0
}
.main-section .nav-tabs li:last-child{
    border-right-width:1px
}
.main-section .nav-tabs li.active a{
    color:#fff;
    background:#ff571a
}
.main-section .nav-tabs li a{
    width:100%;
    height:48px;
    line-height:48px;
    display:block;
    font-size:17px;
    color:#000;
    text-align:center
}
.main-section .card-list-wrapper{
    margin-top:16px;
}
.main-section .card-list-wrapper>li{
    width: 288px;
    height: 292px;
    float: left;
    margin: 0 2px 25px;
    /* padding-bottom: 6px; */
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 2.5px;
}
.main-section .card-list-wrapper>li:hover{
    border-color:#ff662e
}
.main-section .card-list-wrapper .card-item{
    width:284px
}
.main-section .card-list-wrapper .card-item .img{
    width: 284px;
    height: 215px;
    background: #eee;
}
.main-section .card-list-wrapper .card-item .card-data{
    position:relative;
    box-sizing:border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.main-section .card-list-wrapper .card-item .card-data .name{
    margin-bottom:0px
}
.main-section .card-list-wrapper .card-item .card-data .name .categories{
    margin-top:0px
}
.main-section .card-list-wrapper .card-item .card-data .star{
    position:absolute;
    top:16px;
    right:10px
}
.main-section .card-list-wrapper::after{
    content:"";
    display:block;
    clear:both
}
.main-section.recommend-restaurants1 .section-header::before{
    width:63px;
    height:59px;
    background:url(/images/ico-main-recommend.png) 0 0 no-repeat;
    top:-33px;
}
.main-section.recommend-restaurants2 .section-header::before{
    width:60px;
    height:46px;
    background:url(/images/ico-main-recommend2.png) 0 0 no-repeat;
    top:-7px;
}
.main-section.recommend-restaurants2 .ad-banner{
    margin-top:76px
}
.main-section.recommend-restaurants2 .nav-tabs{
    width:870px
}
.main-section.recommend-restaurants2 .nav-tabs li{
    width:131px;
    height:41px;
    margin:0 11px 9px 0;
    border-right-width:1px
}
.main-section.recommend-restaurants2 .nav-tabs li.active{
    border-color:#0086b7
}
.main-section.recommend-restaurants2 .nav-tabs li.active a{
    background:#0086b7
}
.main-section.recommend-restaurants2 .nav-tabs li a{
    height:41px;
    line-height:41px
}
.main-section.recommend-restaurants3{
    width:1184px;
    padding-top:30px;
    border-width:0
}
.main-section.recommend-restaurants3 .section-header{
    margin-bottom:33px
}
.main-section.recommend-restaurants3 .section-header::before{
    width:75px;
    height:64px;
    background:url(/images/ico-main-best.png) 0 0 no-repeat;
    top:-34px;
}
.main-section .best-recommend-box{
    padding:19px 0 26px;
    border-top:3px solid #ff4e0d
}
.main-section .best-recommend-box.green{
    border-top-color:#00b786
}
.main-section .best-recommend-box.green .left-area h4{
    color:#00b786
}
.main-section .best-recommend-box .left-area{
    width:256px;
    float:left;
    padding-top:8px
}
.main-section .best-recommend-box .left-area h4{
    padding-left:22px;
    margin-bottom:10px;
    font-size:28px;
    font-weight:500;
    text-align:left;
    color:#ff571a
}
.main-section .best-recommend-box .left-area p{
    padding-left:22px;
    margin-bottom:10px;
    font-size:21px;
    line-height:1.19;
    text-align:left;
    color:#707070
}
.main-section .best-recommend-box .left-area .banner{
    width:256px;
    height:482px;
    margin:18px 22px 4px 0;
    background-color:#efefef
}
.main-section .best-recommend-box .right-area{
    width:916px;
    float:right
}
.main-section .best-recommend-box .right-area .card-list-wrapper{
    width:100%;
    position:relative;
    top:-34px
}
.main-section .best-recommend-box .right-area .card-list-wrapper>li{
    width:284px;
    padding:0;
    border-width:0;
    margin:26px 16px 0
}
.main-section .best-recommend-box .right-area .card-list-wrapper .card-item{
    width:319px
}
.main-section .best-recommend-box .right-area .card-list-wrapper .card-item .img{
}
.main-section .best-recommend-box::after{
    content:"";
    display:block;
    clear:both
}
#footer{
    padding:80px 50px 52px;
    background:#ededed
}


/* 반응형 - 미디어쿼리 */
@media all and (max-width:1080px){
    .main-section,
    .main-section.recommend-restaurants3 {
        width: 90%;
    }
    .ad-banner,
    .main-section .card-list-wrapper .card-item,
    .main-section.recommend-restaurants2 .nav-tabs {
        width: 100%;
    }
    .main-section .card-list-wrapper>li {
        width: 24.6%;
        margin: 0 0.2% 25px;
    }
    .main-section .card-list-wrapper .card-item .img {
        background-position: center;
        width: auto;
    }
}

@media all and (max-width:768px){
    .main-banner {
        height: 340px;
    }
    .main-section .nav-tabs li {
        width: 20%;
    }
    .main-section .section-header > * {
        float: none;
    }
    .main-section .section-header h3 {
        margin-top: 16px;
    }
    .main-section .card-list-wrapper>li {
        width: 49.6%;
        height: auto;
    }
    .main-section .card-list-wrapper .card-item .img {
        height: 155px;
    }
    .main-section.recommend-restaurants2 .nav-tabs li {
        margin: 0 0.5% 9px;
    }
    .foodie-illustration {
        width: auto;
        margin-top: 0;
        height: 10rem;
    }
}

@media all and (max-width:640px){
    .main-section.recommend-restaurants2 .nav-tabs li {
        width: 24%;
    }
}

@media all and (max-width:480px){
    .main-banner {
        height: 200px;
    }
    .main-section .section-header h3 {
        font-size: 1rem;
    }
    .hide-text-1 {
        width: 60%;
    }
    .card-item .info li.address {
        width: 100%;
    }
    .foodie-illustration {
        height: 8rem;
    }
}

@media all and (max-width:360px){
    .main-section .card-list-wrapper .card-item .img {
        height: 120px;
    }
    .foodie-illustration {
        height: 4.5rem;
    }
}
