.clear::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.pseudo-init {
    content: "";
    display: block
}

.main-banner {
    width: 100%;
    height: 424px;
    background: #ddd
}

.main-section {
    width: 1184px;
    padding-bottom: 0;
    margin-bottom: 72px;
    border-bottom-width: 0
}

.main-section .inner {
    width: 100%
}

.main-section .filter-header {
    position: relative;
    height: 38px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3
}

.main-section .filter-header::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.main-section .filter-header .left-area {
    float: left;
    padding: 10px 0 0 5px
}

.main-section .filter-header .left-area::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.main-section .filter-header .left-area .addr-info {
    float: left;
    padding-left: 25px;
    background: url(/images/ico-circle-arrow.png) 0 0 no-repeat
}

.main-section .filter-header .left-area .addr-info>* {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #000
}

.main-section .filter-header .left-area .addr-info span::after {
    content: ">";
    display: inline-block;
    margin: 0 3px
}

.main-section .filter-header .left-area .addr-info span:last-child::after {
    display: none
}

.main-section .filter-header .left-area .menu-link {
    float: left;
    margin-left: 24px
}

.main-section .filter-header .left-area .menu-link::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.main-section .filter-header .left-area .menu-link li {
    float: left;
    margin-right: 16px
}

.main-section .filter-header .left-area .menu-link li:last-child {
    margin-right: 0
}

.main-section .filter-header .left-area .menu-link li.tab-red a.active {
    background-image: url(/images/ico-tab-red.png);
    color: #ff4e0d
}

.main-section .filter-header .left-area .menu-link li.tab-green a.active {
    background-image: url(/images/ico-tab-green.png);
    color: #00b786
}

.main-section .filter-header .left-area .menu-link li a {
    font-size: 16px;
    color: #d3d3d3
}

.main-section .filter-header .left-area .menu-link li a.active {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 4px
}

.main-section .filter-header .right-area {
    float: right
}

.main-section .card-list-wrapper {
    width: 1200px;
}

.main-section .card-list-wrapper .card-item {
    height: 370px
}

.main-section .card-list-wrapper .card-item .card-data .name {
    margin-bottom: 10px
}

.main-section .card-list-wrapper .card-item .info li {
    margin-bottom: 1px
}

.main-section .filter-wrapper {
    position: relative;
    padding-top: 6px
}

.main-section .filter-wrapper>.filter-btn {
    display: block;
    position: relative;
    width: 90px;
    height: 25px;
    line-height: 23px;
    padding-left: 23px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #ec8056 url(/images/ico-filter.png) 8px 7px no-repeat;
    border: 1px solid transparent;
    box-sizing: border-box
}

.main-section .filter-wrapper>.filter-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #fff
}

.main-section .filter-wrapper>.filter-btn.open {
    background: #fff url(/images/ico-filter-orange.png) 8px 7px no-repeat;
    color: #ff662e;
    border-color: #ff662e
}

.main-section .filter-wrapper>.filter-btn.open::after {
    top: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #ff662e
}

.main-section .filter-wrapper .filter-body-layer {
    display: none;
    width: 500px;
    padding: 12px 15px 24px;
    position: absolute;
    top: 30px;
    right: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    border: solid 1px #ff571a;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 30
}

.main-section .filter-wrapper .filter-body-layer>p {
    margin-bottom: 15px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 400;
    color: #9d9d9d;
    background: url(/images/ico-sm-exmark.png) 0 0 no-repeat
}

.main-section .filter-wrapper .filter-body-layer ul li {
    margin-bottom: 10px
}

.main-section .filter-wrapper .filter-body-layer ul li:last-child {
    margin-bottom: 0
}

.main-section .filter-wrapper .filter-body-layer ul li a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #c2c2c2
}

.main-section .filter-wrapper .filter-body-layer ul li a.active,
.main-section .filter-wrapper .filter-body-layer ul li a:hover {
    color: #000
}

.main-section .card-list-wrapper>li {
    width: 284px;
    height: 370px;
    margin: 0px 15px 27px 0px
}

.main-section .card-list-wrapper>li .card-item {
    width: 284px
}

.list-section {
    width: 1180px;
    margin: 0 auto
}

.list-section::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.list-section .left-area {
    width: 865px;
    position: relative;
    left: 0;
    float: left
}

.list-section .left-area>ul::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.list-section .left-area>ul>li {
    width: 415px;
    height: 135px;
    position: relative;
    float: left;
    margin: 0px 15px 15px 0px;
    border: solid 1px #dcdddd;
    background-color: #fff
}

.list-section .left-area>ul>li .card-item {
    padding: 12px 18px;
    box-shadow: none;
    box-sizing: border-box
}

.list-section .left-area>ul>li .card-item .star {
    position: absolute;
    top: 16px;
    right: 16px
}

.list-section .left-area>ul>li .card-item .info {
    position: absolute;
    left: 18px;
    bottom: 12px
}

.list-section .left-area>ul>li .card-item .info li {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    height: 23px;
}

.list-section .right-area {
    width: 313px;
    min-height: 300px;
    float: left;
    padding: 21px 24px;
    border: solid 1px #d3d3d3;
    background-color: #fff;
    box-sizing: border-box
}

.list-section .right-area dl {
    width: 265px;
    margin-bottom: 38px
}

.list-section .right-area dl:last-child {
    margin-bottom: 0
}

.list-section .right-area dl dt {
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #dcdddd
}

.list-section .right-area dl dd .info {
    margin-bottom: 10px
}

.list-section .right-area dl dd .info::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both
}

.list-section .right-area dl dd .info span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #000
}

.list-section .right-area dl dd .info .name {
    float: left;
    padding-left: 8px
}

.list-section .right-area dl dd .info .name::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 3px;
    height: 12px;
    background: #ff5c17
}

.list-section .right-area dl dd .info .address {
    float: right;
    padding-left: 18px;
    background: url(/images/ico-sm-map.png) 0 2px no-repeat
}

.list-section .right-area dl dd .img {
    width: 264px;
    height: 198px;
    background: #ddd
}

.ad-banner1 {
    margin-bottom: 80px;
    width: 1178px;
}

.ad-banner2 {
    margin-top: 85px
}